{% from 'components/select/macro.njk' import govukSelect %}
{% from 'app-components/heading.njk' import heading %}
{% from 'app-components/selection-list.njk' import sectorsList %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Barrier - Add an affected sector{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.barriers.detail( barrier.id ) },
		caption: barrier.barrier_title,
		text: 'Sectors affected by the barrier',
		errors: errors
	}) }}

	<form action="{{ href.form }}" method="POST" class="restrict-width">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{{ govukSelect( {

			label: {
				text: "Which sector is affected by the barrier?",
				classes: 'govuk-label--s'
			},
			id: 'sectors',
			name: 'sectors',
			items: sectors,
			errorMessage: errors | errorForName( 'sectors' )
		} ) }}

		{% if currentSectors and currentSectors.length %}
		{{ sectorsList( currentSectors ) }}
		{% endif %}

		<input type="submit" value="Add sector" class="govuk-button">
		<a class="form-cancel" href="{{ href.cancel }}">cancel</a>
	</form>
{% endblock %}
