{% from 'app-components/heading.njk' import heading %}
{% from 'app-components/selection-list.njk' import sectorsList %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Sectors affected by the barrier{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.barriers.detail( barrier.id ) },
		caption: barrier.barrier_title,
		text: 'Sectors affected by the barrier',
		errors: errors
	}) }}

	<h3 class="report-sectors-heading">Save or add another sector</h3>

	{% if allSectors %}
		{{ sectorsList( [{name: "All sectors"}], {
				csrfToken: csrfToken,
				inputName: 'sector',
				add: urls.barriers.sectors.add( barrier.id ),
				remove: urls.barriers.sectors.removeAllSectors( barrier.id )
			}
		) }}
	{% else %}
		{{ sectorsList( sectors, {
				csrfToken: csrfToken,
				inputName: 'sector',
				add: urls.barriers.sectors.add( barrier.id ),
				remove: urls.barriers.sectors.remove( barrier.id ),
				all: urls.barriers.sectors.addAllSectors( barrier.id )
			}
		) }}
	{% endif %}

	<form action="{{ urls.barriers.sectors.list( barrier.id ) }}" method="POST">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">
		<input type="submit" value="Save and exit to barrier" class="govuk-button">
	</form>
{% endblock %}
