{% macro barrierSummary( barrier ) %}
	<section class="barrier-summary">
		<div class='barrier-summary__heading'>
			<h1 class="barrier-summary__heading__text">{{ barrier.title }}</h1>
			<a class="barrier-summary__heading__link" href="{{ urls.barriers.edit.headlines( barrier.id ) }}">Edit barrier header</a>
		</div>
		<div class="barrier-summary__status">
			<span class="barrier-status-badge barrier-status-badge--{{ barrier.status.modifyer }}">
				Status: <strong>{{ barrier.status.name }}</strong>
			</span>
			<a class="barrier-summary__status__link" href="{{ urls.barriers.status( barrier.id ) }}">change</a>
		</div>
		<dl class="barrier-summary__info">
			<div class="barrier-summary__info__group">
				<dt class="barrier-summary__info__group__key">Date reported</dt>
				<dd class="barrier-summary__info__group__value">{{ barrier.reportedOn | dateOnly }}</dd>
			</div>
			<div class="barrier-summary__info__group">
				<dt class="barrier-summary__info__group__key">Barrier location</dt>
				<dd class="barrier-summary__info__group__value">{{ barrier.country.name }}</dd>
			</div>
			<div class="barrier-summary__info__group">
				<dt class="barrier-summary__info__group__key">Barrier urgency</dt>
				<dd class="barrier-summary__info__group__value">{{ barrier.problem.status }}</dd>
			</div>
		</dl>
	</section>
{% endmacro %}
