{% from 'app-components/tabs.njk' import tabs %}

{% macro dashboardHeading( data, isBarriers = false, isReports = false, isMyCountry = false ) %}

	<h1 class="govuk-heading-l">
		<span class="govuk-caption-m">Market access barriers</span> Dashboard
	</h1>

	<a href="{{ urls.reports.new() }}" role="button" class="dash-button">
		<span class="dash-button__heading">Report a barrier</span>
		<span class="dash-button__text">
			Report a market access barrier that is emerging, ongoing or has been resolved.
		</span>
	</a>

	{%- set isPlural = ( data.counts.barriers.open !== 1 ) %}

	<a href="{{ urls.findABarrier() }}" role="button" class="dash-button">
		<span class="dash-button__heading">Find a barrier</span>
		<span class="dash-button__text">
			There {{ 'are' if isPlural else 'is' }} <strong>{{ data.counts.barriers.open }}</strong> market access barrier{{ 's' if isPlural }} currently open.
		</span>
	</a>

	<div class="dash-card">
		<h2 class="dash-card__heading">
			What are market access barriers?
		</h2>
		<p class="dash-card__text">
			<a href="{{ urls.whatIsABarrier() }}">Find out more</a> about what is a non-tariff market access barrier.
		</p>
	</div>

	{{ tabs( [
		{
			text: 'All barriers',
			href: urls.index() if not isBarriers,
			skip: data.tabs.all.skip,
			count: data.tabs.all.count
		},{
			text: 'My country',
			href: urls.index() if not isMyCountry,
			skip: data.tabs.country.skip,
			count: data.tabs.country.count
		},{
			text: 'Unfinished reports',
			href: urls.reports.index() if not isReports,
			skip: data.tabs.unfinished.skip,
			count: data.tabs.unfinished.count
		}
	] ) }}
{% endmacro %}
