{% macro datahubHeader( permittedApps, params ) %}

{% set datahubDomain = ( params.domains.datahub or 'https://www.datahub.trade.gov.uk/' ) %}
{% set miDomain = ( params.domains.mi or 'https://mi.exportwins.service.trade.gov.uk/' ) %}
{% set findExportersDomain = ( params.domains.findExporters or 'https://find-exporters.datahub.trade.gov.uk/' ) %}
{% set marketAcessDomain = ( params.domains.marketAccess or 'https://market-access.trade.gov.uk/' ) %}

{% set datahubCrmKey = 'datahub-crm' %}
{% set hasCrmPermission = false %}
{% for permitted in permittedApps %}
	{% if permitted.key === datahubCrmKey %}
		{% set hasCrmPermission = true %}
	{% endif %}
{% endfor %}

{% set apps = [
	{
		permittedKey: datahubCrmKey,
		activeKey: 'datahub-companies',
		name: 'Companies',
		href: ( datahubDomain + 'companies' )
	}, {
		permittedKey: datahubCrmKey,
		activeKey: 'datahub-contacts',
		name: 'Contacts',
		href: ( datahubDomain + 'contacts' )
	}, {
		permittedKey: datahubCrmKey,
		activeKey: 'datahub-events',
		name: 'Events',
		href: ( datahubDomain + 'events' )
	}, {
		permittedKey: datahubCrmKey,
		activeKey: 'datahub-interactions',
		name: 'Interactions',
		href: ( datahubDomain + 'interactions' )
	}, {
		permittedKey: datahubCrmKey,
		activeKey: 'datahub-investments',
		name: 'Investments',
		href: ( datahubDomain + 'investments' )
	}, {
		permittedKey: datahubCrmKey,
		activeKey: 'datahub-orders',
		name: 'Orders',
		href: ( datahubDomain + 'omis' )
	}, {
		permittedKey: 'datahub-mi',
		activeKey: 'datahub-mi',
		name: 'MI dashboards',
		href: miDomain
	}, {
		permittedKey: 'find-exporters',
		activeKey: 'find-exporters',
		name: 'Find exporters',
		href: findExportersDomain
	}, {
		permittedKey: 'market-access',
		activeKey: 'market-access',
		name: 'Trade barriers',
		href: marketAcessDomain
	}
] %}

{% set headerLinks = [
	{
		text: 'Support',
		href: ( datahubDomain + 'support' )
	}, {
		text: params.user.name,
		href: ( ( datahubDomain + 'profile' ) if hasCrmPermission )
	}, {
		text: 'Sign out',
		href: ( params.signout if params.signout else ( datahubDomain + 'sign-out' ) )
	}
] %}

<header class="datahub-header js-datahub-header" role="banner" data-module="header"
	{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
	<div class="datahub-header__logo-container">
		<div class="datahub-header__logo">
			<span class="datahub-header__logo__site-name">Department for International Trade</span>
			{% set logoText %}<span class="datahub-header__logo__text">Data Hub</span>{% endset %}
			{% if hasCrmPermission %}
				<a href="{{ datahubDomain }}" class="datahub-header__logo__link">{{ logoText | safe }}</a>
			{% else %}
				{{ logoText | safe }}
			{% endif %}
			<strong class="datahub-header__logo__tag">beta</strong>
		</div>
		<ul id="logo-navigation" class="datahub-header__links" aria-label="Header links">
			{% for link in headerLinks %}
			<li class="datahub-header__links__item">
				{% if link.href %}
				<a href="{{ link.href }}">{{ link.text }}</a>
				{% else %}
				{{ link.text }}
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
	<button role="button" class="datahub-header__menu-button js-datahub-header-toggle" aria-controls="navigation sub-navigation logo-navigation" aria-label="Show or hide navigation">Menu</button>
	<div class="datahub-header__navigation-container">
		<nav>
			<ul id="navigation" class="datahub-header__navigation {{ params.navigationClasses if params.navigationClasses }}" aria-label="Top Level Navigation">
			{% for item in apps %}

				{% set allowed = false %}
				{% for permitted in permittedApps %}
					{% if permitted.key === item.permittedKey %}
						{% set allowed = true %}
					{% endif %}
				{% endfor %}

				{% if allowed %}
					<li class="datahub-header__navigation__item">
						<a class="datahub-header__navigation__item__link{{ ' datahub-header__navigation__item__link--active' if item.activeKey == params.active }}" href="{{ item.href }}">
							{{- item.name -}}
						</a>
					</li>
				{% endif %}
			{% endfor %}
			</ul>
		</nav>
		{% if params.subNavigation %}
			<nav>
				<ul id="sub-navigation" class="datahub-header__navigation datahub-header__navigation--sub" aria-label="Second Level Navigation">
				{% for item in params.subNavigation %}
					<li class="datahub-header__navigation__item">
						<a class="datahub-header__navigation__item__link{{ ' datahub-header__navigation__item__link--active' if item.active }}" href="{{ item.href }}">{{ item.text }}</a>
					</li>
				{% endfor %}
				</ul>
			</nav>
		{% endif %}
	</div>
</header>
{% endmacro %}
