{% from 'components/back-link/macro.njk' import govukBackLink %}
{% from 'components/error-summary/macro.njk' import govukErrorSummary %}

{% macro heading( params ) %}
	{% if params.back %}
	{{- govukBackLink( params.back ) -}}
	{% endif -%}

	<h1 class="govuk-heading-l">
		<span class="govuk-caption-m">{{ params.caption }}</span> {{ params.text }}
	</h1>

	{%- if params.errors and params.errors.length %}
		{{- govukErrorSummary( {
			titleText: 'There is a problem',
			errorList: params.errors,
			classes: 'restrict-width'
		} ) -}}
	{% endif %}
{% endmacro %}
