{% from "components/fieldset/macro.njk" import govukFieldset %}
{% from "components/hint/macro.njk" import govukHint %}
{% from "components/label/macro.njk" import govukLabel %}

{% macro multiselect( params ) %}

	{#- If an id 'prefix' is not passed, fall back to using the name attribute
	instead. We need this for error messages and hints as well -#}
	{% set idPrefix = params.idPrefix if params.idPrefix else params.name %}

	{#- a record of other elements that we need to associate with the input using
	aria-describedby – for example hints or error messages -#}
	{% set describedBy = "" %}

	{#- fieldset is false by default -#}
	{% set hasFieldset = true if params.fieldset else false %}

	{#- Capture the HTML so we can optionally nest it in a fieldset -#}
	{% set innerHtml %}
		{% if params.hint %}
			{% set hintId = idPrefix + '-hint' %}
			{% set describedBy = describedBy + ' ' + hintId if describedBy else hintId %}
			{{ govukHint({
				id: hintId,
				classes: params.hint.classes,
				attributes: params.hint.attributes,
				html: params.hint.html,
				text: params.hint.text
			}) | indent(2) | trim }}
		{% endif %}
		<div class="multiselect {%- if params.classes %} {{ params.classes }}{% endif %}"
		{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
			{% for item in params.items %}
				{% set id = item.id if item.id else idPrefix + "-" + loop.index %}
				{% set name = item.name if item.name else params.name %}
				{% set hasHint = true if item.hint.text or item.hint.html %}
				{% set itemHintId = id + '-item-hint' %}
				<div class="multiselect__item">
					<input class="multiselect__input" id="{{ id }}" name="{{ name }}" type="checkbox" value="{{ item.value }}"
						{{-" checked" if item.checked }}
						{{-" disabled" if item.disabled }}
						{#- fieldset is false by default -#}
						{%- if (not hasFieldset) and ((describedBy | length) > 0) %} aria-describedby="{{ describedBy }}"{% endif -%}
						{%- if hasHint %} aria-describedby="{{ itemHintId }}"{% endif -%}
						{%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
					{{ govukLabel({
							html: item.html,
							text: item.text,
							classes: 'multiselect__label' + (' ' + item.label.classes if item.label.classes),
							attributes: item.label.attributes,
							for: id
					}) | indent(6) | trim }}
				</div>
			{% endfor %}
		</div>
	{% endset -%}

	<div class="govuk-form-group {%- if params.formGroup.classes %} {{ params.formGroup.classes }}{% endif %}">
		{% if params.fieldset %}
			{% call govukFieldset({
				describedBy: describedBy,
				classes: params.fieldset.classes,
				attributes: params.fieldset.attributes,
				legend: params.fieldset.legend
			}) %}
			{{ innerHtml | trim | safe }}
		{% endcall %}
		{% else %}
			{{ innerHtml | trim | safe }}
		{% endif %}
	</div>
{% endmacro %}
