{% macro reportSectors( report, sectors, csrfToken = null, addAnother = false ) %}
	<div class="report-sectors restrict-width">
		<h3 class="report-sectors__heading">Selected sectors</h3>
	{% if sectors and sectors.length %}
			<ul class="report-sectors__list">
		{% for sector in sectors %}
				<li class="report-sectors__list__item">
					<span class="report-sectors__list__item__number" data-number="{{ loop.index }}"></span>{{ sector.name }}
					{% if csrfToken %}
					<form action="{{ urls.reports.removeSector( report.id ) }}" class="report-sectors__list__item__remove-form" method="POST">
						<input type="hidden" name="_csrf" value="{{ csrfToken }}">
						<input type="hidden" name="sector" value="{{ sector.id }}">
						<input type="submit" value="remove" class="report-sectors__list__item__remove-form__submit">
					</form>
					{% endif %}
				</li>
		{% endfor %}
			</ul>
	{% endif %}

	{% if addAnother %}
		<a href="{{ urls.reports.addSector( report.id ) }}" class="govuk-button button--secondary report-sectors__add-button">Add another sector</a>
	{% endif %}
	</div>
{% endmacro %}
