{% from 'components/error-message/macro.njk' import govukErrorMessage %}

{% macro searchForm( opts ) -%}

<form action="{{ opts.action }}" method="GET" role="search" class="search-form">

	<div class="govuk-form-group">
		<label class="govuk-label govuk-!-font-size-19 govuk-!-font-weight-bold" for="{{ opts.input.id }}">
			{{ opts.label.text }}
		</label>

		<span id="{{ opts.input.id }}-hint" class="govuk-hint">
			{{ opts.hint.text }}
		</span>

		{{ govukErrorMessage( opts.input.error ) if opts.input.error }}

		<div class="search-form__input-group">
			<input
				class="govuk-input search-form__input"
				id="{{ opts.input.id }}"
				name="{{ opts.input.name }}"
				type="text"
				value="{{ opts.input.value }}"
				placeholder="{{ opts.input.placeholder }}"
				{{ 'autofocus' if not opts.input.value.length and not opts.input.error }}
				aria-describedby="{{ opts.input.id }}-hint">
			<button type="submit" class="search-form__button"><span class="visually-hidden">Search</span></button>
		</div>
	</div>

</form>

{%- endmacro %}
