{% from 'components/error-message/macro.njk' import govukErrorMessage %}

{% macro searchForm( params ) -%}

<form action="{{ params.action }}" method="POST" role="search" class="search-form">

	<input type="hidden" name="_csrf" value="{{ params.csrfToken }}">

	<div class="govuk-form-group">
		<label class="govuk-label govuk-!-font-size-19 govuk-!-font-weight-bold" for="{{ params.input.id }}">
			{{ params.label.text }}
		</label>

		<span id="{{ params.input.id }}-hint" class="govuk-hint">
			{{ params.hint.text }}
		</span>

		{{ govukErrorMessage( params.input.error ) if params.input.error }}

		<div class="search-form__input-group">
			<input
				class="govuk-input search-form__input{{ ' govuk-input--error' if params.input.error }}"
				id="{{ params.input.id }}"
				name="{{ params.input.name }}"
				type="text"
				value="{{ params.input.value }}"
				placeholder="{{ params.input.placeholder }}"
				{{ 'autofocus' if not params.input.value.length and not params.input.error }}
				aria-describedby="{{ params.input.id }}-hint">
			<button type="submit" class="search-form__button govuk-button">Search</button>
		</div>
	</div>

</form>

{%- endmacro %}
