{% macro sectorsList( sectors, params ) %}
	<div class="sectors-list restrict-width">
		<h3 class="sectors-list__heading">Selected sectors</h3>
	{% if sectors and sectors.length %}
			<ul class="sectors-list__list">
		{% for sector in sectors %}
				<li class="sectors-list__list__item">
					<span class="sectors-list__list__item__number" data-number="{{ loop.index }}"></span>{{ sector.name }}
					{% if params.csrfToken and params.remove %}
					<form action="{{ params.remove }}" class="sectors-list__list__item__remove-form" method="POST">
						<input type="hidden" name="_csrf" value="{{ params.csrfToken }}">
						<input type="hidden" name="sector" value="{{ sector.id }}">
						<input type="submit" value="remove" class="sectors-list__list__item__remove-form__submit">
					</form>
					{% endif %}
				</li>
		{% endfor %}
			</ul>
	{% endif %}

	{% if params.add %}
		<a href="{{ params.add }}" class="govuk-button button--secondary sectors-list__add-button">Add another sector</a>
	{% endif %}
	</div>
{% endmacro %}
