{% macro tab( item ) %}

	{%- if item.href %}
		<li class="page-tabs__tab">
			<a class="page-tabs__tab__text" href="{{ item.href }}">{{ item.text }}</a>
			<span class="page-tabs__tab__number"><span class="number-marker{{ ' number-marker--large' if item.count > 99 }}">{{ item.count }}</span></span>
		</li>
	{%- else %}
		<li class="page-tabs__tab page-tabs__tab--active">
			<span class="page-tabs__tab__text">{{ item.text }} </span>
			<span class="page-tabs__tab__number"><span class="number-marker{{ ' number-marker--large' if item.count > 99 }}">{{ item.count }}</span></span>
		</li>
	{%- endif -%}

{% endmacro %}

{% macro tabs( items ) %}
	<ul class="page-tabs">
		{%- for item in items %}
			{% if not item.skip %}
			{{- tab( item ) -}}
			{% endif %}
		{%- endfor %}
	</ul>
{% endmacro %}
