{% macro taskList( name, items ) %}

<ol class="task-list">
	{%- for taskItem in items %}
	{% set taskIndex = loop.index -%}
	<li>
		<h2 class="task-list__section-heading">
		</h2>
		<ul class="task-list__items">
			{%- for item in taskItem.items %}
			{%- set id = '' %}
			{%- set nameElem = 'span' %}
			{%- if item.complete or item.notStarted or item.inProgress %}
				{%- set id %}{{ name }}-{{ taskIndex }}-{{ loop.index }}{% endset %}
			{%- endif %}
			{%- if item.href %}
				{%- set nameElem = 'a' %}
			{%- endif %}
			<li class="task-list__item">
				{%- if taskItem.number %}
				<span class="task-list__item__number">{{ loop.index }}</span>
				{% endif -%}

				<{{ nameElem }} class="task-list__item__name"{% if item.href %} href="{{ item.href }}"{% endif %}{% if id %} aria-describedby="{{ id }}"{% endif %}>
					{{ item.name }}
				</{{ nameElem }}>

				{%- if id %}

					{%- if item.complete %}
						{% set text='Completed' %}
						{% set modifyer='complete' %}
					{% elif item.inProgress %}
						{% set text='In Progress' %}
						{% set modifyer='in-progress' %}
					{% elif item.notStarted %}
						{% set text='Not Started' %}
						{% set modifyer='not-started' %}
					{% endif -%}

				<strong class="task-list__item__banner task-list__item__banner--{{ modifyer }}" id="{{ id }}">{{ text }}</strong>
				{%- endif %}
			</li>
			{%- endfor %}
		</ul>
	</li>
	{%- endfor %}
</ol>

{% endmacro %}
