.dashboard-table__barrier-title {
	display: block;
}

.standard-table--barriers {

	.standard-table__heading,
	.standard-table__cell{

		&:nth-child( 1 ){
			width: 18%;
		}

		&:nth-child( 2 ){
			width: 30%;
		}

		&:nth-child( 3 ){
			width: 23%;
		}

		&:nth-child( 4 ){
			width: 20%;
		}

		&:nth-child( 5 ){
			width: 9%;
		}
	}
}

.standard-table--country-barriers {

	.standard-table__heading,
	.standard-table__cell{

		&:nth-child( 1 ){
			width: 18%;
		}

		&:nth-child( 2 ){
			width: 30%;
		}

		&:nth-child( 3 ){
			width: 26%;
		}

		&:nth-child( 4 ){
			width: 17%;
		}

		&:nth-child( 5 ){
			width: 9%;
		}
	}
}
