{
	"check-coverage": true,
	"lines": 98,
	"statements": 98,
	"functions": 98,
	"branches": 98,
	"include": [
		"src/app/**/*.js"
	],
	"exclude": [
		"src/app/app.js",
		"src/app/cluster.js",
		"src/app/config.js"
	],
	"reporter": [
		"lcov",
		"text"
	],
	"cache": true,
	"all": true,
	"report-dir": "./coverage"
}
