{% from 'app-components/search-form.njk' import searchForm %}
{% from 'app-components/heading.njk' import heading %}
{% from 'app-components/selection-list.njk' import companiesList %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Barrier - Add an affected company{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.barriers.detail( barrier.id ) },
		caption: barrier.barrier_title,
		text: 'Name of company affected',
		errors: errors
	}) }}

	<div class="restrict-width">

		{% if companies.length %}
			{{ companiesList( companies ) }}
		{% endif %}

		{{ searchForm( {
				action: urls.barriers.companies.search( barrier.id ),
				label: {
					text: 'Find details of the company affected'
				},
				hint: {
					text: 'You can search by name, address or company number'
				},
				csrfToken: csrfToken,
				input: {
					id: 'company',
					name: 'query',
					value: query,
					placeholder: 'Search for company',
					error: errors | errorForName( 'query' )
				}
			} )
		}}

		{% if error %}
			<p class="error-message">{{ error }}</p>
		{% endif %}

		{% if results %}

			<h2 class="results-count">
				<span class="results-count__number">{{ results.count }}</span>
				companies match <span class="highlight">{{ query }}</span>
			</h2>

			<ul class="search-card-list">
			{% for company in results.results %}
				<li class="search-card">
					<a href="{{ urls.barriers.companies.details( barrier.id, company.id ) }}" class="search-card__link">

						<h3 class="search-card__heading">{{ company.name | highlight( query ) | safe }}</h3>
						<dl class="search-card__values">
							{% if company.company_number %}
							<dt class="search-card__values__key">Companies House number</dt>
							<dd class="search-card__values__value">{{ company.company_number | highlight( query ) | safe }}</dd>
							{% endif %}
							{% if company.headquarter_type %}
							<dt class="search-card__values__key">Type</dt>
							<dd class="search-card__values__value">{{ company.headquarter_type.name | highlight( query ) | safe }}</dd>
							{% endif %}
							<dt class="search-card__values__key">Sector</dt>
							<dd class="search-card__values__value">{{ company.sector.name | highlight( query ) | safe }}</dd>

							<dt class="search-card__values__key">Incorporated on</dt>
							<dd class="search-card__values__value">{{ company.created_on | dateOnly }}</dd>

							<dt class="search-card__values__key">Primary address</dt>
							<dd class="search-card__values__value">
								{{ [
									company.address.line_1 | highlight( query ),
									company.address.line_2 | highlight( query ),
									company.address.town | highlight( query ),
									company.address.county | highlight( query ),
									company.address.postcode | highlight( query ),
									company.address.country.name | highlight( query )
								] | removeEmpty | join( ', ' ) | safe }}
							</dd>
						</dl>

					</a>
				</li>
			{% endfor %}
			</ul>

		{% endif %}

		<a href="{{ urls.barriers.detail( barrier.id ) }}" class="govuk-button button--secondary">Cancel</a>

	{% if results or error %} {# only show when the user has done a search #}
		<div class="info-panel">
			<h4 class="info-panel__heading">Can't find the company?</h4>
			<p class="info-panel__text">
				If you can’t find the company or organisation you’re looking for, try a different search query, check the company’s website or any email correspondence that contains company registration details.
			</p>
		</div>
	</div>
	{% endif %}

{% endblock %}

