{% extends './barrier-layout.njk' %}

{% set activeBarrierNav = 'headlines' %}

{% block page_title %}{{ super() }} - Barrier details{% endblock %}

{% block barrier_content %}

	{{ summaryGroup( {
		heading: {
			text: 'Barrier headlines'
		},
		items: [
			{
				title: 'Market access barrier type',
				text: barrier.type.title
			},{
				title: 'Summary of barrier',
				text: barrier.summary
			}
		]
	} ) }}

	{%- if barrier.legal.hasInfringements -%}

		{{ summaryGroup( {
			heading: {
				text: 'Legal obligations infringed',
				level: 3
			},
			items: [
				{
					title: 'Legal obligations infringed',
					text: [
						'WTO' if barrier.legal.infringements.wto,
						'FTA' if barrier.legal.infringements.fta,
						'Other' if barrier.legal.infringements.other
					] | removeEmpty | join( ', ' )
				},{
					title: 'Summary of infringements',
					text: barrier.legal.summary
				}
			]
		} ) }}

	{% else %}

		{{ summaryGroup( {
			heading: {
				text: 'Legal obligations infringed',
				level: 3
			},
			items: [
				{
					title: 'Legal obligations infringed',
					text: 'Unknown' if barrier.legal.unknownInfringements else 'None'
				}
			]
		} ) }}

	{% endif %}

{% endblock %}
