{% extends './barrier-layout.njk' %}

{% set activeBarrierNav = 'headlines' %}

{% block page_title %}{{ super() }} - Barrier details{% endblock %}

{% block barrier_content %}

	{{ summaryGroup( {
		heading: {
			text: 'Barrier headlines'
		},
		items: [
			{
				title: 'Company or organisation affected',
				text: '',
				add: {
					text: 'Add one or several companies/organisations',
					href: '#'
				}
			},
			{
				title: ( 'Sector' + ( 's' if barrier.sectors.length !== 1 ) + ' affected' ),
				items: sectorsList,
				add: {
					text: 'Add one or several sectors',
					href: '#'
				}
			},
			{
				title: 'Market access barrier type',
				text: barrier.type.title,
				add: {
					text: 'Add a type of Market Access Barrier',
					href: urls.barriers.type.category( barrier.id )
				},
				edit: {
					href: urls.barriers.type.category( barrier.id )
				}
			},{
				title: 'Product/service being exported',
				text: barrier.product
			},{
				title: 'Description of problem',
				text: barrier.problem.description
			},{
				title: 'Awareness of the problem',
				html: barrier.source.name + ( ( '<br>' + barrier.source.description ) if barrier.source.description )
			},{
				title: 'Initial report made by',
				text: barrier.reportedBy
			}
		]
	} ) }}

	{#%- if barrier.legal.hasInfringements -%}

		{{ summaryGroup( {
			heading: {
				text: 'Legal obligations infringed',
				level: 3
			},
			items: [
				{
					title: 'Legal obligations infringed',
					text: [
						'WTO' if barrier.legal.infringements.wto,
						'FTA' if barrier.legal.infringements.fta,
						'Other' if barrier.legal.infringements.other
					] | removeEmpty | join( ', ' )
				},{
					title: 'Summary of infringements',
					text: barrier.legal.summary
				}
			]
		} ) }}

	{% else %}

		{{ summaryGroup( {
			heading: {
				text: 'Legal obligations infringed',
				level: 3
			},
			items: [
				{
					title: 'Legal obligations infringed',
					text: 'Unknown' if barrier.legal.unknownInfringements else 'None'
				}
			]
		} ) }}

	{% endif %#}

{% endblock %}
