{% from "components/textarea/macro.njk" import govukTextarea %}
{#% from "components/checkboxes/macro.njk" import govukCheckboxes %#}

{% extends './barrier-layout.njk' %}

{% set activeBarrierNav = 'interactions' %}

{% block page_title %}{{ super() }} - Barrier updates{% endblock %}

{% block barrier_content %}
	<h2 class="section-heading">
		Updates
	</h2>
	<p class="barrier-section-intro">
		Add to the narrative of this barrier instance. A note could be a meeting, call, email or another activity associated with solving this barrier.
	</p>

	{% if noteForm %}
		<div class="interaction-panel">
			<form action="{{ urls.barriers.notes.add( barrier.id ) }}" method="POST">

				<input type="hidden" name="_csrf" value="{{ csrfToken }}">

				{{ govukTextarea({
					name: 'note',
					id: 'note',
					label: {
						text: 'Add notes on an interaction or event',
						classes: 'govuk-!-font-weight-bold'
					},
					attributes: {
						autofocus: ''
					},
					errorMessage: errors | errorForName( 'note' )
				}) }}

				{#{ govukCheckboxes({
					name: 'pinned',
					items: [
						{
							value: 'true',
							text: 'Pin this note to the top of the timeline'
						}
					]
				}) }#}

				<input type="submit" value="Save note" class="govuk-button">
				<a class="button-cancel" href="{{ urls.barriers.interactions( barrier.id ) }}">Cancel</a>
			</form>
		</div>
	{% else %}
		<a class="govuk-button button--secondary" href="{{ urls.barriers.notes.add( barrier.id ) }}">Add note</a>
	{% endif %}

	{% if interactions and interactions.length %}
		<ol class="event-list">
			{% for item in interactions %}
			<li class="event-list__item{#{ ' event-list__item--pinned' if item.pinned }#}">

				{%- if item.isNote -%}

					<h4 class="event-list__item__heading">{{ item.date | dateOnly }}<span class="event-list__item__heading__recede"> at {{ item.date | time }} (GMT)</span>
						{%- if item.user.name -%}
						<span class="event-list__item__heading__recede"> by </span>{{ item.user.name }}
						{%- endif -%}
					</h4>

					{% if item.edit -%}

						<form action="{{ urls.barriers.notes.edit( barrier.id, item.id ) }}" method="POST">
							<input type="hidden" name="_csrf" value="{{ csrfToken }}">
							{{ govukTextarea({
								name: 'note',
								id: 'note',
								label: {
									text: 'Add notes on an interaction or event',
									classes: 'visually-hidden'
								},
								value: item.text,
								attributes: {
									autofocus: ''
								},
								errorMessage: errors | errorForName( 'note' )
							}) }}
							<input type="submit" value="Save note" class="govuk-button">
							<a href="{{ urls.barriers.interactions( barrier.id ) }}" class="form-cancel">Cancel</a>
						</form>

					{%- else -%}

						<p class="event-list__item__text">{{ item.text | escape | nl2br  }}</p>
						<a href="{{ urls.barriers.notes.edit( barrier.id, item.id ) }}">edit</a>

					{%- endif %}

				{%- elif item.isStatus -%}

					<h4 class="event-list__item__heading">{{ item.date | dateOnly }}<span class="event-list__item__heading__recede"> at {{ item.date | time }} (GMT)</span></h4>

					<p class="event-list__item__text">

					{%- if item.event === 'REPORT_CREATED' -%}

						Report of barrier started{% if item.user.name %} by <strong>{{ item.user.name }}</strong>{% endif %}

					{%- elif item.event === 'BARRIER_CREATED' -%}

						Barrier created{% if item.user.name %} by <strong>{{ item.user.name }}</strong>{% endif %}

					{%- elif item.event === 'BARRIER_STATUS_CHANGE' -%}

						Barrier status changed from <strong>{{ item.state.from }}</strong> to <strong>{{ item.state.to }}</strong>{{ ' by ' + item.user.name if item.user.name }}.

						{%- if item.state.isResolved %}

							 Resolved date set as <strong>{{ item.state.date | dateOnly( day = false ) }}</strong>.

						{%- endif %}
					{%- endif %}
					</p>

					{% if item.event === 'BARRIER_STATUS_CHANGE' -%}
						<p class="event-list__item__text">{{ item.text | escape | nl2br  }}</p>
					{% endif -%}

				{%- endif %}
			</li>
			{% endfor %}
		</ol>
	{% endif %}

{% endblock -%}
