{% from 'components/radios/macro.njk' import govukRadios %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Barrier - Define category type of market access barrier{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.barriers.detail( barrier.id ) },
		caption: barrier.barrier_title,
		text: 'Define type of market access barrier',
		errors: errors
	}) }}

	<form action="{{ urls.barriers.type.category( barrier.id ) }}" method="POST">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{{ govukRadios({
			name: 'category',
			fieldset: {
				legend: {
					text: 'What is the barrier applicable to?',
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: category,
			errorMessage: errors | errorForName( 'category-1' )
		}) }}

		<input type="submit" value="Continue" class="govuk-button">
		<a href="{{ urls.barriers.detail( barrier.id ) }}" class="govuk-button button--secondary">Exit to barrier</a>
	</form>
{% endblock %}
