{% from 'components/radios/macro.njk' import govukRadios %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Barrier - Add Type{% endblock %}

{% block body_script %}
	<script>
		ma.pages.barrier.type();
	</script>
{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.barriers.detail( barrier.id ) },
		caption: barrier.barrier_title,
		text: 'Define type of market access barrier',
		errors: errors
	}) }}

	<form action="{{ href.form }}" method="POST" class="restrict-width">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{# Select a market access barrier type which most applies to the situation #}

		{{ govukRadios( {

			idPrefix: 'barrier-type',
			name: 'barrierType',
			classes: 'barrier-type',
			fieldset: {
				legend: {
					text: title,
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: barrierType,
			errorMessage: errors | errorForName( 'barrier-type-1' )
			} )
		}}

		<input type="submit" value="Add barrier type" class="govuk-button">
		<a class="form-cancel" href="{{ href.cancel }}">cancel</a>
	</form>
{% endblock %}
