.barrier-summary {
	padding-top: govuk-em( 30, 16 );
	padding-bottom: govuk-em( 30, 16 );
}

.barrier-summary__heading {
	@include govuk-font( $size: 14);
	float: left;
	width: 100%;
	margin-bottom: govuk-em( 15, 16 );

	@include mq( $from: tablet ){

		width: 60%;
		margin-bottom: 0;
	}

	@include mq( $from: 850px ){

		width: 70%;
	}
}

.barrier-summary__heading__link {
	display: block;
	margin-top: 25px;
}

.barrier-summary__heading__text {
	@include govuk-font( $size: 36, $weight: bold );
	margin-top: 0;
	margin-bottom: govuk-em( 5, 27 );
}

.barrier-summary__heading__country {
	margin: 0;
	@include govuk-font( $size: 19 );
}

.barrier-summary__status {
	width: 100%;
	@include mq( $from: tablet ){
		float: right;
		text-align: right;
		width: govuk-em( 180, 16 );
	}
	box-sizing: border-box;
}

.barrier-summary__status__badge {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	box-sizing: border-box;
}

.barrier-summary__priority {
	border: 3px solid $govuk-grey-1;
	display: block;
	background: white;
	padding: govuk-em( 5, 16 ) 0;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: govuk-em( 10, 16 );
}

.barrier-summary__status__link {
	//margin-left: govuk-em( 10, 16 );
	display: block;
}

.barrier-summary__info {
	clear: left;
	overflow: hidden;

	@include mq( $from: tablet ){

		padding-top: govuk-em( 30, 16 );
	}
}

.barrier-summary__info__group {
	float: left;
	padding-right: govuk-em( 45, 16 );
	margin-bottom: govuk-em( 15, 16 );
	max-width: 200px;
}

.barrier-summary__info__group__key {
	font-weight: bold;
}

.barrier-summary__info__group__value {
	margin: 0;
}

.barrier-summary-link-toggle {

	position: relative;
	padding-right: govuk-em( 25, 16 );
	margin-top: govuk-em( 10, 16 );

	&:after {
		content: '';
		position: absolute;
		top: 0.25em;
		right: 0;
		@include govuk-shape-arrow($direction: down, $base: 14px);
	}
}

.barrier-summary-link-list {
	list-style: none;
	padding: 0;
	display: inline-block;
	background-color: white;
	box-shadow: $govuk-grey-2 2px 2px 5px;
	border-radius: 3px;
	border: 1px solid $govuk-grey-3;
}

.barrier-summary-link-list__item {

	border-bottom: 1px solid $govuk-grey-3;
	padding: govuk-em( 5, 16 ) govuk-em( 15, 16 );
	text-align: left;

	&:last-of-type {
		border-bottom: none;
	}
}
