.barrier-summary {
	border-bottom: 2px solid $govuk-grey-2;
	padding-top: govuk-em( 10, 16 );
	padding-bottom: govuk-em( 15, 16 );
	margin-bottom: govuk-em( 45, 16 );
}

.barrier-summary__heading {

	float: left;
	width: 100%;
	margin-bottom: govuk-em( 15, 16 );

	@include mq( $from: tablet ){

		width: 60%;
		margin-bottom: 0;
	}

	@include mq( $from: 850px ){

		width: 70%;
	}
}

.barrier-summary__heading__text {
	@include govuk-font( $size: 27, $weight: bold );
	margin-top: 0;
	margin-bottom: govuk-em( 5, 27 );
}

.barrier-summary__status {
	float: left;
}

.barrier-summary__status__link {
	margin-left: govuk-em( 10, 16 );
}

.barrier-summary__info {
	clear: left;
	overflow: hidden;
	padding-top: govuk-em( 30, 16 );
}

.barrier-summary__info__group {
	float: left;
	padding-right: govuk-em( 45, 16 );
	margin-bottom: govuk-em( 15, 16 );
	max-width: 200px;
}

.barrier-summary__info__group__key {
	font-weight: bold;
}

.barrier-summary__info__group__value {
	margin: 0;
}
