#collapsible {
    &__content {
        display: none;
    }
    &__label {
        color: $govuk-blue;
        cursor: pointer;
        text-decoration: underline;
    }
}

:checked + #collapsible__content {
    display: block;
}
