.datahub-header__logo-container {

	background-color: black;
	color: white;
	overflow: hidden;
	font-weight: 700;
	padding: 2px 30px;
	-moz-osx-font-smoothing: grayscale;

	a,
	a:visited,
	a:link {
		color: white;
		text-decoration: none;
	}
}

.datahub-header__logo {
	font-size: 30px;
	font-weight: bold;
	display: inline;
}
.datahub-header__logo__text {
	-webkit-font-smoothing: initial; /* makes the font bolder */
}

.datahub-header__logo__tag {
	-webkit-font-smoothing: initial; /* makes the font bolder */
	font-weight: 700;
	font-size: 14px;
	line-height: 1.25;
	display: inline-block;
	padding: 4px 8px 2px 8px;
	outline: 2px solid transparent;
	outline-offset: -2px;
	color: #ffffff;
	background-color: #005ea5;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	top: -5px;
}

.datahub-header__links {
	font-size: 16px;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	outline: 3px solid transparent;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.datahub-header__links__item {
	display: inline-block;
	padding: 10px;
}

.datahub-header__logo__site-name { /* visually-hidden */
	position: absolute;
	width: 1px;
	height: 1px;
	// If margin is set to a negative value it can cause text to be announced in the wrong order in VoiceOver for OSX
	margin: 0;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	border: 0;
	// For long content, line feeds are not interpreted as spaces and small width
	// causes content to wrap 1 word per line:
	// https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
	white-space: nowrap;
}

.js-enabled .datahub-header__menu-button {
	display: none;
}

.datahub-header__navigation {
	background-color: #dee0e2;
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 700;
	padding: 0 30px;
}

.datahub-header__navigation__item {

	display: inline-block;
	padding-right: 20px;

	&:last-of-type {
		padding-right: 0;
	}
}

.datahub-header__navigation__item__link {

	display: inline-block;
	padding: 8px 0;
	margin: 0;
	font-size: 16px;
	line-height: 23px;
	text-decoration: none;
	color: #0b0c0c;

	&:visited,
	&:link {
		color: #0b0c0c;
	}

	&:hover {
		color: #0b0c0c;
		padding-bottom: 3px;
		border-bottom: 5px solid #2b8cc4;
	}
}

.datahub-header__navigation__item__link--active {

	color: #005ea5;
	padding-bottom: 3px;
	border-bottom: 5px solid #005ea5;

	&:visited,
	&:link {
		color: #005ea5;
	}
}

.datahub-header__navigation--sub {
	font-weight: normal;
	background-color: #F8F8F8;
	border-bottom: 1px solid #DEE0E2;
}
