.event-list {
	list-style: none;
	padding: 0;
}

.event-list__item {

	border: 2px solid $govuk-grey-3;
	padding: govuk-em( 15, 16 );
	margin-bottom: govuk-em( 15, 16 );
	position: relative;
	margin-left: govuk-em( 30, 16 );

	&:before {
		content: '';
		position: absolute;
		top: govuk-em( 17, 16 );
		left: govuk-em( -35, 16 );
		display: inline-block;
		border: 5px solid $govuk-grey-3;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		z-index: 10;
		background: white;
	}

	&:after {
		content: '';
		border-left: 3px solid $govuk-grey-3;
		height: 120%;
		display: inline-block;
		position: absolute;
		top: govuk-em( 17, 16 );
		left: govuk-em( -27, 16 );
	}

	&:last-of-type:after {
		border-color: white;
	}
}

.event-list__item--documents {

}

/*
.event-list__item--pinned {

	border: 0;
	border-left: 10px solid $govuk-fuchsia;
	background-color: $govuk-fuchsia-10;

	&::before {
		left: govuk-em( -43, 16 );
	}
}
*/

.event-list__item__heading {
	margin-top: 0;
	margin-bottom: govuk-em( 15, 16 );
	color: $govuk-grey-1;
}

.event-list__item__heading__recede {
	font-weight: normal;
}

.event-list__item__text {

	@include govuk-font( $size: 19 );
	margin: 0 0 govuk-em( 15, 19 ) 0;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.event-list__item__document-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.event-list__item__document-list__item {
	display: inline;
}

.event-list__item__document-list__item__name {

}

.event-list__item__document-list__item__status {
	color: $govuk-grey-1;
}
