.modal {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(11, 12, 12, 0.7);
    display: block;

    .modal-box {
        padding: govuk-em( 20, 16 );
        display: block;
        position: relative;
        margin: 0 auto;
        width: 60%;
        top: 10%;
        background: white;
        font-size: govuk-em( 19, 16 );
    }

    .govuk-button {
        display: inline-block;
        margin-bottom: 0;
    }
    dl {
        overflow: hidden;
        dt, dd {
            float: left;
            margin-bottom: govuk-em( 10, 16 );
        }
        dt { 
            clear:both
        }
        dd {
            font-weight: bold;
        }
    }
    .modal-title {
        font-size: govuk-em( 24, 16 );
        line-height: 1;
        margin: 0;
    }
}