.summary-group {
	border-bottom: 1px solid $govuk-black;
	padding-bottom: govuk-em( 15, 16 );
	margin-bottom: govuk-em( 15, 16 );
}

.summary-group__heading {
	@include govuk-font( $size: 24, $weight: bold );
}

.summary-group__heading--sub {
	@include govuk-font( $size: 19, $weight: bold );
}

.summary-group__list {

}

.summary-group__list__key {
	width: 100%;
	font-weight: bold;
	background-color: $govuk-grey-4;
}

.summary-group__list__value {
	width: 100%;
	margin: 0;
}

.summary-group__list__key,
.summary-group__list__value {
	border-bottom: 1px solid $govuk-grey-2;
	padding: govuk-em( 10, 16 ) 0;
	box-sizing: border-box;
}

@include mq( $from: tablet ){

	.summary-group__list {
		display: flex;
		flex-wrap: wrap;
	}

	.summary-group__list__key {

		width: 35%;
		padding-right: govuk-em( 30, 16 );
		padding-left: govuk-em( 10, 16 );
		background-color: transparent;

		&:nth-of-type( odd ){
			background-color: $govuk-grey-4;
		}
	}

	.summary-group__list__value {

		width: 65%;
		padding-right: govuk-em( 10, 16 );

		&:nth-of-type( odd ){
			background-color: $govuk-grey-4;
		}
	}
}
