.start-banner {

	border-left: 10px solid $govuk-grey-1;
	background-color: $govuk-grey-3;
	padding: govuk-em( 15, 16 );
	position: relative;

	@include mq( $from: tablet ){
		padding-right: govuk-em( 200, 16 );
	}
}

.start-banner__heading {
	@include govuk-font( $size: 19, $weight: bold );
}

//.start-banner__text {}

.start-banner__button {

	@extend .govuk-button;
	@extend .govuk-button--start;
	margin-bottom: 2px;

	@include mq( $from: tablet ){

		position: absolute;
		top: govuk-em( 13, 16 );
		right: govuk-em( 15, 16 );

		&:active {
			top: govuk-em( 15, 16 );
		}
	}
}

