{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Error{% endblock %}

{% block page_content %}

	<h1 class="error-heading">Unexpected error</h1>

	{% if showErrors %}
	<div class="govuk-!-margin-top-9">
		{% if error.code %}
		<h2 class="govuk-heading-s">Code: {{ error.code }}</h2>
		{% endif %}

		{% if error.response.body %}
			<h2 class="govuk-heading-s">Response Body</h2>
			<p class="stack-trace">
				{{ error.response.body | dump( 2 ) }}
			</p>
		{% endif %}

		<h2 class="govuk-heading-s">Stack Trace</h2>
		<p class="stack-trace">
			{{ error.stack }}
		</p>
	</div>
	{% endif %}
{% endblock %}
