{% extends 'layout.njk' %}

{% block content %}

	<h1 class="error-heading">Unexpected error</h1>

	<p>
		Part of the system is down, please try again shortly. The team has been notified.
	</p>

{% endblock %}
