{% from 'components/input/macro.njk' import govukInput %}
{% from 'components/textarea/macro.njk' import govukTextarea %}
{% from 'components/radios/macro.njk' import govukRadios %}
{% from 'components/select/macro.njk' import govukSelect %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report - About the barrier{% endblock %}

{% block body_script %}
	<script>
		ma.pages.report.aboutProblem();
	</script>
{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: backHref },
		caption: 'Report a barrier',
		text: 'About the barrier',
		errors: errors
	}) }}

	<form action="{{ urls.reports.aboutProblem( report.id ) }}" method="POST" class="restrict-width">

		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{{ govukInput( {

			label: {
				text: "What product or service is being exported?",
				classes: 'govuk-label--s'
			},
			id: 'item',
			name: 'item',
			value: item,
			errorMessage: errors | errorForName( 'item' )
		} ) }}

		{% set barrierAwarenessOtherHtml %}

			{{ govukInput( {

				label: {
					text: 'Please specify',
					classes: 'govuk-label--s'
				},
				id: 'barrier-awareness-other',
				name: 'barrierAwarenessOther',
				value: barrierAwarenessOther,
				errorMessage: errors | errorForName( 'barrier-awareness-other' )
			} ) }}

		{% endset %}

		{{ govukRadios({
			name: 'barrierAwareness',
			classes: [ 'barrier-awareness' ],
			fieldset: {
				legend: {
					text: 'How did you find out about the barrier?',
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: barrierAwareness | addToRadio( {
				'OTHER': { conditional: { html: barrierAwarenessOtherHtml } }
			} ),
			errorMessage: errors | errorForName( 'barrier-awareness-1' )
		}) }}

		{{ govukInput( {

			label: {
				text: 'Suggest an appropriate title for this barrier',
				classes: 'govuk-label--s'
			},
			hint: {
				text: 'Include both the product or service name and the country being exported to e.g. Import of steel rods into India'
			},
			id: 'barrier-title',
			name: 'barrierTitle',
			value: barrierTitle,
			errorMessage: errors | errorForName( 'barrier-title' )
		} ) }}

		{{ govukTextarea( {

			label: {
				text: "Provide a brief description of the problem",
				classes: 'govuk-label--s'
			},
			id: 'description',
			name: 'description',
			value: description,
			errorMessage: errors | errorForName( 'description' )
		} ) }}

		<input type="submit" class="govuk-button" value="Save and continue">
		<button type="submit" class="govuk-button button--secondary" name="action" value="exit">Save and exit</button>

	</form>
{% endblock %}
