{% from 'components/input/macro.njk' import govukInput %}
{% from 'components/textarea/macro.njk' import govukTextarea %}
{% from 'components/radios/macro.njk' import govukRadios %}
{% from 'components/select/macro.njk' import govukSelect %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Add - About the barrier{% endblock %}

{% block body_script %}
	<script>
		ma.pages.report.aboutProblem();
	</script>
{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: backHref },
		caption: 'Add a barrier',
		text: 'About the barrier',
		errors: errors
	}) }}

	<form action="{{ urls.reports.aboutProblem( report.id ) }}" method="POST" class="restrict-width">

		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{{ govukInput( {

			label: {
				text: "What product or service is being exported?",
				classes: 'govuk-label--s'
			},
			id: 'item',
			name: 'item',
			value: item,
			errorMessage: errors | errorForName( 'item' )
		} ) }}

		{% set barrierSourceOtherHtml %}

			{{ govukInput( {

				label: {
					text: 'Please specify',
					classes: 'govuk-label--s'
				},
				id: 'barrier-source-other',
				name: 'barrierSourceOther',
				value: barrierSourceOther,
				errorMessage: errors | errorForName( 'barrier-source-other' )
			} ) }}

		{% endset %}

		{{ govukRadios({
			name: 'barrierSource',
			classes: [ 'barrier-source' ],
			idPrefix: 'barrier-source',
			fieldset: {
				legend: {
					text: 'How did you find out about the barrier?',
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: barrierSource | addToRadio( {
				'OTHER': { conditional: { html: barrierSourceOtherHtml } }
			} ),
			errorMessage: errors | errorForName( 'barrier-source-1' )
		}) }}

		{{ govukInput( {

			label: {
				text: 'Suggest a title for this barrier',
				classes: 'govuk-label--s'
			},
			hint: {
				text: 'Include both the product or service name and the country being exported to, for example, Import quotas for steel rods in India.'
			},
			id: 'barrier-title',
			name: 'barrierTitle',
			value: barrierTitle,
			errorMessage: errors | errorForName( 'barrier-title' )
		} ) }}
		
		{{ govukRadios( {

			idPrefix: 'is-eu-exit',
			name: 'isEuExit',
			classes: 'is-eu-exit',
			fieldset: {
				legend: {
					text: 'Is this issue caused by or related to EU Exit?',
					classes: 'govuk-fieldset__legend--s'
				}
			}, items: [
				{
					value: true,
					text: "Yes"
				}, 
				{
					value: false,
					text: "No"
				}
			]
			} )
		}}

		{% if isResolved %}

			{{ govukTextarea( {

				label: {
					text: 'Provide a summary of the problem and how you became aware of it',
					classes: 'govuk-label--s'
				},
				id: 'description',
				name: 'description',
				value: description,
				errorMessage: errors | errorForName( 'description' )
			} ) }}

			{{ govukTextarea( {

			label: {
				text: 'How did you resolve the problem?',
				classes: 'govuk-label--s'
			},
			id: 'resolved-description',
			name: 'resolvedDescription',
			value: resolvedDescription,
			errorMessage: errors | errorForName( 'resolved-description' )
		} ) }}

		{% else %}

			{{ govukTextarea( {

				label: {
					text: 'Provide a summary of the problem',
					classes: 'govuk-label--s'
				},
				id: 'description',
				name: 'description',
				value: description,
				hint: {
					text: 'Include what you have done so far and who you have discussed the problem with.'
				},
				errorMessage: errors | errorForName( 'description' )
			} ) }}

		{% endif %}

		<input type="submit" class="govuk-button" value="Save and continue">
		<button type="submit" class="govuk-button button--secondary" name="action" value="exit">Save and exit</button>

	</form>
{% endblock %}
