{% from 'app-components/heading.njk' import heading %}
{% from 'app-components/selection-list.njk' import adminAreasList %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Add - admin areas affected by the barrier{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.reports.hasAdminAreas( report.id ) },
		caption: 'Add a barrier',
		text: 'Location of the barrier',
		errors: errors
	}) }}

	{{ adminAreasList( adminAreas, {
			csrfToken: csrfToken,
			add: urls.reports.addAdminArea( report.id ),
			inputName: 'adminArea',
			remove: urls.reports.removeAdminArea( report.id )
		}
	) }}

	<form action="{{ urls.reports.adminAreas( report.id ) }}" method="POST">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">
		<input type="submit" value="Save and continue" class="govuk-button">
		<button type="submit" class="govuk-button button--secondary" name="action" value="exit">Save and exit</button>
	</form>
{% endblock %}
