{% from 'app-components/task-list.njk' import taskList %}
{% from 'app-components/heading.njk' import heading %}
{% from 'app-components/callout.njk' import callout %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Add - Barrier details{% endblock %}

{% block page_content %}

	{{ heading({
		caption: 'Market access barriers',
		text: 'Add a barrier'
	}) }}

	<section class="restrict-width">

		{% if tasks.complete %}

			{{ callout( {
				state: 'success',
				heading: { text: 'All tasks completed for' },
				text: calloutText,
				button: {
					action: urls.reports.submit( report.id ),
					csrfToken: csrfToken,
					text: 'Submit barrier'
				}
			} ) }}

		{% elif tasks.next %}

			{{ callout( {
				state: 'warn',
				heading: { text: 'Unfinished barrier for' },
				text: calloutText,
				button: {
					href: tasks.next.href,
					text: 'Continue'
				}
			} ) }}

		{% endif %}

		<dl class="report-summary">
			<div class="report-summary__group">
				<dt class="report-summary__key">
					Barrier started
				</dt>
				<dd class="report-summary__value">
					{{ report.created_on | dateWithTime }}
				</dd>
			</div>
			<div class="report-summary__group">
				<dt class="report-summary__key">
					Barrier started by
				</dt>
				<dd class="report-summary__value">
					{{ report.created_by.name or '---' }}
				</dd>
			</div>
		</dl>

		{{ taskList( 'report-list', tasks ) }}

	</section>

{% endblock %}
