{% from 'components/select/macro.njk' import govukSelect %}
{% from 'components/radios/macro.njk' import govukRadios %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Add - Location of the barrier{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.reports.country( report.id ) },
		caption: 'Add a barrier',
		text: 'Location of the barrier',
		errors: errors
	}) }}

	<form action="{{ urls.reports.hasAdminAreas( report.id ) }}" method="POST" class="restrict-width">

		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukRadios( {

			idPrefix: 'has-admin-areas',
			name: 'hasAdminAreas',
			classes: 'has-admin-areas',
			fieldset: {
				legend: {
					text: 'Does it affect the entire country?',
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: hasAdminAreas ,
			errorMessage: errors | errorForName( 'has-admin-areas' )
			} )
		}}
        

		<input type="submit" class="govuk-button" value="Continue">

	</form>
{% endblock %}
