{% from 'app-components/dashboard-heading.njk' import dashboardHeading %}
{% from 'reports/views/macros/delete-report.njk' import deleteReport %}
{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Draft barriers{% endblock %}

{% if isDelete %}
	{% set bodyClasses = 'modal-open' %}
{% endif %}

{% block body_script %}
	{{ super() }}
	<script>
		ma.pages.report.index();
	</script>
{% endblock %}

{% block outsideContent %}
	{% if isDelete %}
		{{ deleteReport( currentReport, csrfToken ) }}
	{% endif %}
{% endblock %}

{% block page_content %}

	{{ dashboardHeading( dashboardData ) }}

	{%- if reports.length -%}

		<table class="standard-table">
			<thead>
				<tr class="standard-table__heading-row">
					<th class="standard-table__heading standard-table__heading--active">Date started</th>
					<th class="standard-table__heading">Barrier ID</th>
					<th class="standard-table__heading">Barrier location</th>
					<th class="standard-table__heading">Resolved?</th>
					<th class="standard-table__heading">Barrier scope</th>
					<th class="standard-table__heading">Started by</th>
					<th class="standard-table__heading">Action</th>
				</tr>
			</thead>
			<tbody class="js-delete-modal-container">
				{% for report in reports %}
				<tr class="standard-table__row">
					<td class="standard-table__cell">
						{{ ( report.date.created | dateWithTime ) or '---' }}
					</td>
					<td class="standard-table__cell">
						{{ report.code }}
					</td>
					<td class="standard-table__cell">
						{{ report.country.name or '---' }}
					</td>
					<td class="standard-table__cell">
						{{ 'Yes' if report.isResolved else 'No' }}
					</td>
					<td class="standard-table__cell">
						{{ report.problem_status.name or '---' }}
					</td>
					<td class="standard-table__cell">
						{{ report.created_by.name or '---' }}
					</td>
					<td class="standard-table__cell">
						<a class="table__link" href="{{ urls.reports.detail( report.id ) }}">Continue</a>
						{% if report.created_by.id === user.id %}
							<a class="table__link js-delete-modal" href="{{ urls.reports.delete( report.id ) }}">Delete</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	{%- else -%}

		<div class="no-results-box">
			<p>
				There are currently no draft market access barriers.
			</p>
		</div>

	{%- endif %}
{% endblock %}
