{% from 'app-components/dashboard-heading.njk' import dashboardHeading %}
{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Draft barriers{% endblock %}

{% block page_content %}

	{{ dashboardHeading( dashboard, isReports = true ) }}

	{%- if reports.length -%}

		<table class="standard-table">
			<thead>
				<tr class="standard-table__heading-row">
					<th class="standard-table__heading standard-table__heading--active">Date started</th>
					<th class="standard-table__heading">Barrier ID</th>
					<th class="standard-table__heading">Barrier location</th>
					<th class="standard-table__heading">Resolved?</th>
					<th class="standard-table__heading">Barrier scope</th>
					<th class="standard-table__heading">Started by</th>
					<th class="standard-table__heading">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for report in reports %}
				<tr class="standard-table__row">
					<td class="standard-table__cell">
						{{ ( report.date.created | dateWithTime ) or '---' }}
					</td>
					<td class="standard-table__cell">
						{{ report.code }}
					</td>
					<td class="standard-table__cell">
						{{ report.country.name or '---' }}
					</td>
					<td class="standard-table__cell">
						{{ 'Yes' if report.isResolved else 'No' }}
					</td>
					<td class="standard-table__cell">
						{{ report.problem_status.name or '---' }}
					</td>
					<td class="standard-table__cell">
						{{ report.created_by or '---' }}
					</td>
					<td class="standard-table__cell">
						<a class="table__link" href="{{ urls.reports.detail( report.id ) }}">Continue</a>
						<a class="table__link" href="{{ urls.reports.delete( report.id ) }}">Delete</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	{%- else -%}

		<p class="no-results-message">
			There are currently no draft market access barriers.
		</p>

	{%- endif %}
{% endblock %}
