{% from 'components/radios/macro.njk' import govukRadios %}
{% from 'components/date-input/macro.njk' import govukDateInput %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Add - Status of the barrier{% endblock %}

{% block body_script %}
	<script>
		ma.pages.report.isResolved( {{ types | dump | safe }} );
	</script>
{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.reports.start( report.id ) },
		caption: 'Add a barrier',
		text: 'Status of the barrier',
		errors: errors
	}) }}

	<form action="{{ urls.reports.isResolved( report.id ) }}" method="POST">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{% set isResolvedHtml %}
			{{ govukDateInput( {

				id: 'resolved-date-group',
				fieldset: {
					legend: {
						text: 'When was the barrier resolved?',
						classes: 'govuk-fieldset__legend--s'
					}
				},
				errorMessage: errors | errorForName( 'resolved-date' ),
				items: [
					{
						id: 'resolved-date',
						name: 'month',
						value: resolvedDate.month,
						classes: 'govuk-input--width-2'
					},
					{
						name: 'year',
						value: resolvedDate.year,
						classes: 'govuk-input--width-4'
					}
				]
			} ) }}
		{% endset %}

		{% set isPartResolvedHtml %}
			{{ govukDateInput( {

				id: 'part-resolved-date-group',
				fieldset: {
					legend: {
						text: 'When was the barrier partially resolved?',
						classes: 'govuk-fieldset__legend--s'
					}
				},
				errorMessage: errors | errorForName( 'part-resolved-date' ),
				items: [
					{
						id: 'part-resolved-date',
						name: 'partMonth',
						label: 'Month',
						value: partResolvedDate.partMonth,
						classes: 'govuk-input--width-2'
					},
					{
						name: 'partYear',
						label: 'Year',
						value: partResolvedDate.partYear,
						classes: 'govuk-input--width-4'
					}
				]
			} ) }}
		{% endset %}

		{{ govukRadios( {

			idPrefix: 'is-resolved',
			name: 'isResolved',
			classes: 'is-resolved',
			fieldset: {
				legend: {
					text: 'Has the barrier been resolved?',
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: isResolved | addToRadio(
				[ types.RESOLVED, {
					conditional: { html: isResolvedHtml },
					hint: { text: 'Please continue to enter information, even if the barrier is resolved.' }
				} ],
				[ types.PART_RESOLVED, {
					conditional: { html: isPartResolvedHtml },
					hint: { text: 'Please continue to enter information, even if the barrier is partially resolved.' }
				} ]
			),
			errorMessage: errors | errorForName( 'is-resolved-1' )
			} )
		}}

		<input type="submit" value="Continue" class="govuk-button">
	</form>
{% endblock %}
