{% from 'app-components/task-list.njk' import taskList %}
{% from 'app-components/heading.njk' import heading %}
{% from 'app-components/callout.njk' import callout %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Add a barrier{% endblock %}

{% block page_content %}

	{{ heading({
		caption: 'Market access barriers',
		text: 'Add a barrier'
	}) }}

	<section class="restrict-width">

		{{ callout({
			heading: {
				text: 'Let us know about a non-tariff barrier to a UK business overseas'
			},
			html: 'You can save your information and come back later to complete.',
			button: {
				type: 'start',
				href: urls.reports.start(),
				text: 'Start now'
			}
		}) }}

		{{ taskList( 'report-list', tasks ) }}

	</section>

{% endblock %}
