{% from 'app-components/task-list.njk' import taskList %}
{% from 'app-components/heading.njk' import heading %}
{% from 'app-components/callout.njk' import callout %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report a barrier{% endblock %}

{% block page_content %}

	{{ heading({
		caption: 'Market access barriers',
		text: 'Report a barrier'
	}) }}

	<section class="restrict-width">

		{{ callout({
			heading: {
				text: 'Complete the following tasks to report a barrier'
			},
			html: 'Before you start, <a href="#">see what information you need to make a report</a>',
			button: {
				type: 'start',
				href: urls.reports.start(),
				text: 'Start now'
			}
		}) }}

		{{ taskList( 'report-list', tasks ) }}

	</section>

{% endblock %}
