{% from 'components/radios/macro.njk' import govukRadios %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Add - Status of the barrier{% endblock %}

{% block page_content %}

	{{ heading({
		caption: 'Add a barrier',
		text: 'Status of the barrier',
		errors: errors
	}) }}

	<form action="{{ urls.reports.start( report.id ) }}" method="POST">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{{ govukRadios({
			name: 'status',
			classes: 'problem-status',
			fieldset: {
				legend: {
					text: 'What is the scope of the barrier?',
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: status,
			errorMessage: errors | errorForName( 'status-1' )
		}) }}

		<input type="submit" value="Continue" class="govuk-button">
	</form>
{% endblock %}
