{% from 'components/textarea/macro.njk' import govukTextarea %}
{% from 'components/character-count/macro.njk' import govukCharacterCount %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Add - Barrier summary{% endblock %}

{% block body_script %}
	<script>
	if( ma.components.CharacterCount ){
		new ma.components.CharacterCount( '.govuk-character-count' );
	}
	</script>
{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: backHref },
		caption: 'Add a barrier',
		text: ( 'Barrier summary' ),
		errors: errors
	}) }}

	<form action="{{ urls.reports.summary( report.id ) }}" method="POST" class="restrict-width">

		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{{ govukCharacterCount( {

			label: {
				text: 'Describe the barrier',
				classes: 'govuk-label--s'
			},
			hint: {
				text: 'Include how the barrier is affecting the export or investment and why the barrier exists. For example, because of specific laws or measures, which government body imposed them and any political context; the HS code; and when the problem started.'
			},
			id: 'description',
			name: 'description',
			maxlength: summaryLimit,
			value: description,
			errorMessage: errors | errorForName( 'description' )
		} ) }}

		{% if isResolved %}

			{{ govukTextarea( {

				label: {
					text: 'How did you resolve the problem?',
					classes: 'govuk-label--s'
				},
				id: 'resolved-description',
				name: 'resolvedDescription',
				value: resolvedDescription,
				errorMessage: errors | errorForName( 'resolved-description' )
			} ) }}

		{% else %}

			{{ govukTextarea( {

				label: {
					text: 'What steps will be taken to resolve the barrier?',
					classes: 'govuk-label--s'
				},
				id: 'next-steps',
				name: 'nextSteps',
				value: nextSteps,
				hint: {
					text: 'Include all your agreed team actions.'
				},
				errorMessage: errors | errorForName( 'next-steps' )
			} ) }}

		{% endif %}

		<input type="submit" class="govuk-button" value="Save and continue">
		<button type="submit" class="govuk-button button--secondary" name="action" value="exit">Save and exit</button>

	</form>
{% endblock %}
