{% from "components/checkboxes/macro.njk" import govukCheckboxes %}
{% from 'components/input/macro.njk' import govukInput %}
{% from 'components/textarea/macro.njk' import govukTextarea %}
{% from 'components/radios/macro.njk' import govukRadios %}
{% from 'components/select/macro.njk' import govukSelect %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report - Define type of market access barrier{% endblock %}

{% block body_script %}
	<script>
		//ma.pages.report.type();
	</script>
{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.reports.typeCategory( report.id ) },
		caption: 'Report a barrier',
		text: 'Define type of market access barrier',
		errors: errors
	}) }}

	<form action="{{ urls.reports.type( report.id ) }}" method="POST" class="restrict-width">

		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{# Select a market access barrier type which most applies to the situation #}

		{{ govukRadios( {

			idPrefix: 'barrier-type',
			name: 'barrierType',
			classes: 'barrier-type',
			fieldset: {
				legend: {
					text: title,
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: barrierType,
			errorMessage: errors | errorForName( 'barrier-type-1' )
			} )
		}}

		<input type="submit" class="govuk-button" value="Save and continue">
		<button type="submit" class="govuk-button button--secondary" name="action" value="exit">Save and exit</button>

	</form>
{% endblock %}
