{% from 'components/input/macro.njk' import govukInput %}
{% from 'app-components/heading.njk' import heading %}
{% from 'app-components/details-list.njk' import detailsList %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Save watch list{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.findABarrier(queryString) },
		text: 'Save watch list',
		errors: errors
	}) }}

	<section class="restrict-width">

		{{ detailsList( filterList ) }}

		<form action="{{ urls.watchList.save( queryString ) }}" method="POST">
			<input type="hidden" name="_csrf" value="{{ csrfToken }}">

			{{ govukInput( {

				label: {
					text: 'Name your watch list',
					classes: 'govuk-label--s'
				},
				id: 'name',
				name: 'name',
				value: name,
				errorMessage: errors | errorForName( 'name' )
			} ) }}

			<input type="submit" value="Save" class="govuk-button">
			<a href="{{ urls.findABarrier(queryString) }}" class="govuk-button button--secondary">Cancel</a>
		</form>

	</section>

{% endblock %}
