$govuk-font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
$govuk-font-family-tabular: Arial,'Helvetica Neue',Helvetica,sans-serif;
$govuk-images-path: '/govuk-public/images/';

@import 'node_modules/vue-multiselect/dist/vue-multiselect.min';
@import 'node_modules/@uktrade/datahub-header/component/header';

@import 'settings/all';
@import 'helpers/all';
@import 'tools/all';
@import 'core/typography';
@import 'core/links';
@import 'core/template';
@import 'core/lists';
@import 'objects/width-container';
@import 'objects/form-group';
@import 'objects/grid';
@import 'overrides/typography';
@import 'overrides/spacing';
@import 'overrides/width';

@import 'components/skip-link/skip-link';
@import 'components/phase-banner/phase-banner';
@import 'components/header/header';
@import 'components/footer/footer';
@import 'components/button/button';
@import 'components/tag/tag';
@import 'components/error-message/error-message';
@import 'components/fieldset/fieldset';
@import 'components/label/label';
@import 'components/hint/hint';
@import 'components/radios/radios';
@import 'components/checkboxes/checkboxes';
@import 'components/input/input';
@import 'components/select/select';
@import 'components/warning-text/warning-text';
@import 'components/textarea/textarea';
@import 'components/back-link/back-link';
@import 'components/error-summary/error-summary';
@import 'components/error-message/error-message';
@import 'components/panel/panel';
@import 'components/date-input/date-input';
@import 'components/file-upload/file-upload';
@import 'components/character-count/character-count';

@import 'app-settings/colours';

@import 'layout';
@import 'error';

@import 'app-objects/headings';
@import 'app-objects/number-marker';
@import 'app-objects/buttons';
@import 'app-objects/barrier-status-badge';
@import 'app-objects/barrier-status-table-badge';
@import 'app-objects/file-upload';
@import 'app-objects/overflow-wrapper';
@import 'app-objects/priority-marker';
@import 'app-objects/filter-group';
@import 'app-objects/attachments';
@import 'app-objects/info-panel';
@import 'app-objects/inline-definition-list';
@import 'app-objects/circle-icon';

@import 'app-components/dash-button';
@import 'app-components/dash-card';
@import 'app-components/task-list';
@import 'app-components/details-list';
@import 'app-components/search-form';
@import 'app-components/table-standard';
@import 'app-components/callout';
@import 'app-components/tabs';
@import 'app-components/warning-icon';
@import 'app-components/barrier-summary';
@import 'app-components/side-nav';
@import 'app-components/summary-group';
@import 'app-components/event-list';
@import 'app-components/checkmark';
@import 'app-components/selection-list';
@import 'app-components/company-card';
@import 'app-components/toast';
@import 'app-components/checkbox-filter';
@import 'app-components/typeahead';
@import 'app-components/collapsible';
@import 'app-components/toggle-box';
@import 'app-components/modal';
@import 'app-components/toggle-links';

@import 'pages/index';
@import 'pages/what-is-a-barrier';
@import 'pages/report/detail';
@import 'pages/report/sectors';
@import 'pages/barrier/detail';
@import 'pages/barrier/type';
@import 'pages/find-a-barrier';

body:not(.js-enabled) {
	.js-only {
		display: none;
	}
}

.error-message {
	@include govuk-font( 24 );
	border: 4px solid $govuk-red;
	padding: govuk-em( 30, 24 );
	background-color: $govuk-red-5;
}

.muted {
	color: $govuk-grey-1;
}

.message-panel {
	border: 3px solid $govuk-grey-3;
	padding: govuk-em( 30, 16 );
}

.no-results-box {
	background-color: $govuk-grey-4;
	border: 2px dashed $govuk-grey-3;
	@include govuk-font( 19 );
	padding: govuk-em( 20, 19 );
	text-align: center;
	padding-top: 0;
	margin-top: govuk-em( 30, 19 );
}

.conditional-content {

	padding-left: govuk-em( 15, 16 );

	> .govuk-form-group {
		border-left: 5px solid $govuk-grey-2;
		padding-left: govuk-em( 15, 16 );
	}

	.govuk-form-group--error {
		border-color: $govuk-red;
	}
}

.page-tabs-container {
	position: relative;
}

.page-tabs-add-watch-list {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-bottom: govuk-em( 15, 16 );
	text-decoration: none;

	&:link {
		text-decoration: none;
	}
}

.restrict-width {
	max-width: govuk-em( 680, 16 );
}

.paragraph-width {
	max-width: govuk-em( 600, 16 );
}

.results-count {
	@include govuk-font( $size: 19 );
	border-bottom: 5px solid $govuk-black;
	padding-bottom: govuk-em( 5, 19 );
}

.results-count__number {
	@include govuk-font( $size: 36, $weight: bold );
}

.highlight {
	background-color: $govuk-yellow-25;
	outline: 1px solid $govuk-yellow-25;
	border-top: 2px solid $govuk-yellow-25;
	border-bottom: 2px solid $govuk-yellow-25;
}

.form-cancel {
	line-height: 2.5;
	margin-left: govuk-em( 10, 16 );
}

.barrier-section-intro {
	margin-bottom: govuk-em( 30, 16 );
}

