$govuk-font-stack: Arial,"Helvetica Neue",Helvetica,sans-serif;
$govuk-font-stack-tabular: Arial,"Helvetica Neue",Helvetica,sans-serif;
$govuk-global-images: "/public/govuk/images/";

@import "frontend/settings/all";
@import "frontend/helpers/all";
@import "frontend/tools/all";
@import "frontend/core/typography";
@import 'frontend/core/lists';
@import "frontend/objects/width-container";
@import "frontend/objects/form-group";
@import "frontend/overrides/typography";

@import 'frontend/components/footer/footer';
@import 'frontend/components/button/button';
@import 'frontend/components/tag/tag';
@import 'frontend/components/error-message/error-message';
@import 'frontend/components/fieldset/fieldset';
@import 'frontend/components/label/label';
@import 'frontend/components/hint/hint';
@import 'frontend/components/radios/radios';
@import 'frontend/components/input/input';

@import 'error';
@import 'components/dash-button';
@import 'components/task-list';
@import 'components/company-details';
@import 'components/company-card';
@import 'pages/report/index';
@import 'pages/report/start';

.restrict-width {
	max-width: govuk-em( 750, 16 );
}

.paragraph-width {
	max-width: govuk-em( 600, 16 );
}

.results-count {
	@include govuk-font-regular-19;
	border-bottom: 5px solid $govuk-black;
	padding-bottom: govuk-em( 5, 19 );
}

.results-count__number {
	@include govuk-font-bold-36;
}

.highlight {
	background-color: $govuk-yellow-25;
	outline: 1px solid $govuk-yellow-25;
	border-top: 2px solid $govuk-yellow-25;
	border-bottom: 2px solid $govuk-yellow-25;
}

.button--secondary {

	background-color: $govuk-grey-3;
	box-shadow: 0 2px 0 $govuk-grey-1;
	color: $govuk-grey-1;

	&:link,
	&:visited,
	&:active,
	&:hover {
		color: $govuk-grey-1;
	}

	&:focus,
	&:hover {
		background-color: $govuk-grey-4;
	}
}

.user-info {
	color: white;
	float: right;
	font-weight: bold;
	line-height: 1.7;
	margin-left: 2em;
}

.user-info a {
	font-weight: normal;
	color: white;
	text-decoration: none;
}

.user-info a:hover {
	text-decoration: underline;
}

@media (min-width: 372px) {

	.user-info {
		margin: 0 1em;
	}
}

@media (min-width: 641px) {
	.user-info {
		font-size: 16px;
		line-height: 2;
	}
}

@media (min-width: 769px) {
	.user-info {
		line-height: 2.1;
		margin-right: 0;
	}
}

.header-bar {
	@include govuk-font-regular-14;
	background-color: $govuk-fuchsia;
	padding: govuk-em( 10, 14 ) 0;
	color: $govuk-white;
	margin-bottom: govuk-em( 45, 14 );

	a {
		color: $govuk-white;
	}
}

.footer-bar {
	@include govuk-font-regular-14;
	margin-top: govuk-em( 45, 14 );
	border-bottom: 10px solid $govuk-fuchsia
}

.footer-bar__content {
	background-color: $govuk-fuchsia;
	color: $govuk-white;
	box-sizing: border-box;
	padding: govuk-em( 10, 14 ) govuk-em( 10, 14 ) govuk-em( 5, 14 ) govuk-em( 10, 14 );

	a {
		color: $govuk-white;
	}
}
