$govuk-font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
$govuk-font-family-tabular: Arial,"Helvetica Neue",Helvetica,sans-serif;
$govuk-images-path: "/govuk-public/images/";

@import "settings/all";
@import "helpers/all";
@import "tools/all";
@import "core/typography";
@import "core/links";
@import "core/template";
@import 'core/lists';
@import "objects/width-container";
@import "objects/form-group";
@import "objects/grid";
@import "overrides/typography";
@import "overrides/spacing";

@import 'components/skip-link/skip-link';
@import 'components/phase-banner/phase-banner';
@import 'components/header/header';
@import 'components/footer/footer';
@import 'components/button/button';
@import 'components/tag/tag';
@import 'components/error-message/error-message';
@import 'components/fieldset/fieldset';
@import 'components/label/label';
@import 'components/hint/hint';
@import 'components/radios/radios';
@import 'components/checkboxes/checkboxes';
@import 'components/input/input';
@import 'components/select/select';
@import 'components/warning-text/warning-text';
@import 'components/textarea/textarea';
@import 'components/back-link/back-link';
@import 'components/error-summary/error-summary';
@import 'components/error-message/error-message';
@import 'components/panel/panel';
@import 'components/date-input/date-input';

@import 'app-settings/colours';

@import 'layout';
@import 'error';

@import 'app-objects/headings';

@import 'app-components/dash-button';
@import 'app-components/task-list';
@import 'app-components/details-list';
@import 'app-components/search-form';
@import 'app-components/table-standard';
@import 'app-components/callout';
@import 'app-components/tabs';
@import 'app-components/warning-icon';
@import 'app-components/barrier-summary';
@import 'app-components/side-nav';
@import 'app-components/summary-group';
@import 'app-components/event-list';
@import 'app-components/checkmark';
@import 'app-components/report-sectors';

@import 'pages/index';
@import 'pages/what-is-a-barrier';
@import 'pages/report/detail';
@import 'pages/report/sectors';
@import 'pages/barrier/detail';

.error-message {
	@include govuk-font( 24 );
	border: 4px solid $govuk-red;
	padding: govuk-em( 30, 24 );
	background-color: $govuk-red-5;
}

.message-panel {
	border: 3px solid $govuk-grey-3;
	padding: govuk-em( 30, 16 );
}

.no-results-message {
	@include govuk-font( $size: 24 );
	padding: govuk-em( 30, 24 );
	text-align: center;
}

.conditional-content {

	padding-left: govuk-em( 15, 16 );

	> .govuk-form-group {
		border-left: 5px solid $govuk-grey-2;
		padding-left: govuk-em( 15, 16 );
	}

	.govuk-form-group--error {
		border-color: $govuk-red;
	}
}

.restrict-width {
	max-width: govuk-em( 680, 16 );
}

.paragraph-width {
	max-width: govuk-em( 600, 16 );
}

.results-count {
	@include govuk-font( $size: 19 );
	border-bottom: 5px solid $govuk-black;
	padding-bottom: govuk-em( 5, 19 );
}

.results-count__number {
	@include govuk-font( $size: 36, $weight: bold );
}

.highlight {
	background-color: $govuk-yellow-25;
	outline: 1px solid $govuk-yellow-25;
	border-top: 2px solid $govuk-yellow-25;
	border-bottom: 2px solid $govuk-yellow-25;
}

.form-cancel {
	line-height: 2.5;
	margin-left: govuk-em( 10, 16 );
}

.button--secondary {

	background-color: $govuk-grey-3;
	box-shadow: 0 2px 0 $govuk-grey-1;
	color: $govuk-grey-1;
	display: inline-block;

	&:link,
	&:visited,
	&:active,
	&:hover {
		color: $govuk-grey-1;
	}

	&:focus,
	&:hover {
		background-color: $govuk-grey-4;
	}
}

.button-cancel {
	line-height: 2.5;
	margin-left: govuk-em( 10, 16 );
}

.interaction-panel {
	background-color: $govuk-grey-3;
	padding: govuk-em( 15, 16 );
	margin-bottom: govuk-em( 30, 16 );
}

.barrier-section-intro {
	margin-bottom: govuk-em( 30, 16 );
}

