{% from 'components/input/macro.njk' import govukInput %}
{% from 'components/textarea/macro.njk' import govukTextarea %}
{% from 'components/radios/macro.njk' import govukRadios %}
{% from 'components/select/macro.njk' import govukSelect %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report - About the problem{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.report.contacts( report.company_id, report.id ) },
		caption: 'Report a barrier',
		text: 'About the problem',
		errors: errors
	}) }}

	<form action="{{ urls.report.aboutProblem( report.id ) }}" method="POST" class="restrict-width">

		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{{ govukInput( {

			label: {
				text: "What's the product or service being exported?",
				classes: 'govuk-label--s'
			},
			id: 'item',
			name: 'item',
			value: item,
			errorMessage: errors | errorForName( 'item' )
		} ) }}

		{{ govukInput( {

			label: {
				text: "List the relevant commodity codes, if known (Optional)",
				classes: 'govuk-label--s'
			},
			id: 'commodity-code',
			name: 'commodityCode',
			value: commodityCode,
			errorMessage: errors | errorForName( 'comodityCode' )
		} ) }}

		{{ govukSelect( {

			label: {
				text: "Which country/trading bloc are they trying to export to?",
				classes: 'govuk-label--s'
			},
			id: 'country',
			name: 'country',
			items: country,
			errorMessage: errors | errorForName( 'country' )
		} ) }}

		{{ govukTextarea( {

			label: {
				text: "Provide a brief description of the problem",
				classes: 'govuk-label--s'
			},
			id: 'description',
			name: 'description',
			value: description,
			errorMessage: errors | errorForName( 'description' )
		} ) }}

		{{ govukTextarea( {

			label: {
				text: "What impact would you expect the problem to have on the company if it is not resolved?",
				classes: 'govuk-label--s'
			},
			id: 'impact',
			name: 'impact',
			value: impact,
			errorMessage: errors | errorForName( 'impact' )
		} ) }}

		{{ govukRadios( {

			idPrefix: 'losses',
			name: 'losses',
			fieldset: {
				legend: {
					text: 'Provide an estimate of the financial value of sales lost over a five year period',
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: losses,
			errorMessage: errors | errorForName( 'losses-1' )
			} )
		}}

		{{ govukRadios( {

			idPrefix: 'other-companies',
			name: 'otherCompanies',
			fieldset: {
				legend: {
					text: 'Are there any other companies affected?',
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: otherCompanies,
			errorMessage: errors | errorForName( 'other-companies-1' )
			} )
		}}

		<input type="submit" class="govuk-button" value="Save and continue">
		<button type="submit" class="govuk-button button--secondary" name="action" value="exit">Save and exit</button>

	</form>
{% endblock %}
