{% from 'frontend/components/input/macro.njk' import govukInput %}
{% from 'frontend/components/textarea/macro.njk' import govukTextarea %}
{% from 'frontend/components/radios/macro.njk' import govukRadios %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report - About the problem{% endblock %}

{% block page_content %}

	<h1 class="govuk-heading-l">
		<span class="govuk-caption-m">Report a barrier</span> About the problem
	</h1>

	<form action="" method="post" class="restrict-width">

		{{ govukInput( {

			label: {
				text: "What's the product or service being exported?",
				classes: 'govuk-label--s'
			},
			id: 'item',
			name: 'item'
		} ) }}

		{{ govukInput( {

			label: {
				text: "List the relevant commodity codes, if known (Optional)",
				classes: 'govuk-label--s'
			},
			id: 'commodity-code',
			name: 'commodityCode'
		} ) }}

		{{ govukInput( {

			label: {
				text: "Which country/trading bloc are they trying to export to?",
				classes: 'govuk-label--s'
			},
			id: 'country',
			name: 'country'
		} ) }}

		{{ govukTextarea( {

			label: {
				text: "Provide a brief description of the problem",
				classes: 'govuk-label--s'
			},
			id: 'description',
			name: 'description'
		} ) }}

		{{ govukTextarea( {

			label: {
				text: "What impact would you expect the problem to have on the company if it is not resolved?",
				classes: 'govuk-label--s'
			},
			id: 'impace',
			name: 'impact'
		} ) }}

		{{ govukRadios( {

			idPrefix: 'losses',
			name: 'losses',
			fieldset: {
				legend: {
					text: 'Provide an estimate of the financial value of sales lost over a five year period',
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: losses
			} )
		}}

		{{ govukRadios( {

			idPrefix: 'other-companies',
			name: 'otherCompanies',
			fieldset: {
				legend: {
					text: 'Are there any other companies affected?',
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: otherCompanies
			} )
		}}


		<input type="submit" class="govuk-button" value="Save and continue">
		<button type="submit" class="govuk-button button--secondary" name="action" value="exit">Save and exit</button>

	</form>
{% endblock %}
