{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report - About the problem{% endblock %}

{% block page_content %}

	<h1 class="govuk-heading-l">
		<span class="govuk-caption-m">Report a barrier</span> About the problem
	</h1>

{% endblock %}
