{% from 'frontend/components/back-link/macro.njk' import govukBackLink %}
{% from 'components/details-list.njk' import detailsList %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report - Company details{% endblock %}

{% block page_content %}

		{{ govukBackLink({ href: urls.report.companySearch( barrier.id ) }) }}

		<h1 class="govuk-heading-l">
			<span class="govuk-caption-m">Report a barrier</span> Export company affected
		</h1>

		<section class="restrict-width">

			<h2 class="govuk-heading-s">Company summary</h2>

			{{ detailsList( [
				{
					'key': 'Registered name',
					'value': company.name
				},{
					'key': 'Companies house no.',
					'value': company.company_number
				},{
					'key': 'Primary address',
					'value': [
							company.registered_address_1,
							company.registered_address_2,
							company.registered_address_town,
							company.registered_address_county,
							company.registered_address_postcode,
							company.registered_address_country.name
						] | removeEmpty | join( ', ' )
				},{
					'key': 'Sector',
					'value': company.sector.name
				},{
					'key': 'Incorporated on',
					'value': company.created_on | dateOnly
				},{
					'key': 'Type',
					'value': company.headquarter_type
				},{
					'key': 'Scale of company',
					'value': company.turnover_range.name
				},{
					'key': 'Number of employees',
					'value': company.employee_range.name
				}
			] ) }}

			<form action="{{ urls.report.companySearch( barrier.id ) }}" method="POST">
				<input type="hidden" name="_csrf" value="{{ csrfToken }}">
				<input type="hidden" name="companyId" value="{{ company.id }}">
				<input type="submit" class="govuk-button" value="Continue">
			</form>

		</section>

		<span class="govuk-heading-s">Or</span>

		<a href="{{ urls.report.companySearch( barrierId ) }}">Search again</a>

{% endblock %}
