{% from 'app-components/task-list.njk' import taskList %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report a barrier{% endblock %}

{% block page_content %}

	{{ heading({
		caption: 'Market access barriers',
		text: 'Report a barrier'
	}) }}

	<section class="restrict-width">

		<div class="start-banner">
			<h2 class="start-banner__heading">Complete the following tasks to report a barrier</h2>
			<p class="start-banner__text">
				Before you start, <a href="#">see what information you need to make a report</a>
			</p>

			<a href="{{ urls.report.start() }}" class="start-banner__button">Start now</a>
		</div>

		{{ taskList( 'report-list', tasks ) }}

	</section>

{% endblock %}
