{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report a barrier{% endblock %}

{% block page_content %}

		<h1 class="govuk-heading-l">
			<span class="govuk-caption-m">Market access barriers</span> Report a barrier
		</h1>
		
{% endblock %}
