{% from 'components/task-list.njk' import taskList %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report a barrier{% endblock %}

{% block page_content %}

		<h1 class="govuk-heading-l">
			<span class="govuk-caption-m">Market access barriers</span> Report a barrier
		</h1>

		<section class="restrict-width">
				
			<div class="start-banner">
				<h2 class="start-banner__heading">Complete the following tasks to report a barrier</h2>
				<p class="start-banner__text">
					Before you start, <a href="#">see what information you need to make a report</a>
				</p>

				<a href="#" class="start-banner__button">Start now</a>
			</div>

			{{ taskList( 'report-list', [
				{
					'name': 'Report a problem',
					'number': true,
					'items': [
						{
							'name': 'Status of the problem',
							'complete': true,
							'href': '#'
						},{
							'name': 'Export company affected'
						},{
							'name': 'About the reporter'
						},{
							'name': 'About the problem'
						},{
							'name': 'Next steps the company affected have requested'
						}
					]
				},{
					'name': 'Create a barrier record',
					'items': [
						{
							'name': 'Name and summarise the barrier'
						}
					]
				},{
					'name': 'Tell us what happens next',
					'items': [
						{
							'name': 'Describe next steps and what type of support you might need'
						}
					]
				}
			] ) }}

		</section>
		
{% endblock %}
