{% from 'frontend/components/radios/macro.njk' import govukRadios %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report - Status of the problem{% endblock %}

{% block page_content %}

	<h1 class="govuk-heading-l">
		<span class="govuk-caption-m">Report a barrier</span> Status of the problem
	</h1>

	<form action="" method="POST">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{{ govukRadios({
			'name': 'status',
			'classes': 'problem-status',
			'fieldset': {
				'legend': {
					'text': 'What is the current status of the problem?',
					'classes': 'govuk-fieldset__legend--s'
				}
			},
			'items': statusTypes
		}) }}

		<div class="report-barrier-emergency paragraph-width" id="report-barrier-emergency">

			{{ govukRadios({
				'name': 'emergency',
				'classes': 'govuk-radios--inline',
				'fieldset': {
					'legend': {
						'text': 'Is this an emergency?',
						'classes': 'govuk-fieldset__legend--s'
					}
				},
				'hint': {
					'text': 'Is an export facing significant and imminent financial or other loss and does government need to take action urgently?'
				},
				'items': emergencyTypes
			}) }}
		</div>

		<input type="submit" value="Continue" class="govuk-button">
	</form>
{% endblock %}
