{% from 'frontend/components/radios/macro.njk' import govukRadios %}
{% from 'components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report - Status of the problem{% endblock %}

{% block body_script %}
	<script>
		ma.pages.report.start();
	</script>
{% endblock %}

{% block page_content %}

	{{ heading({
		caption: 'Report a barrier',
		text: 'Status of the problem',
		errors: errors
	}) }}

	<form action="{{ urls.report.start( report.id ) }}" method="POST">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{{ govukRadios({
			name: 'status',
			classes: 'problem-status',
			fieldset: {
				legend: {
					text: 'What is the current status of the problem?',
					classes: 'govuk-fieldset__legend--s'
				}
			},
			items: status,
			errorMessage: errors | errorForName( 'status-1' )
		}) }}

		<div class="report-barrier-emergency paragraph-width" id="report-barrier-emergency">

			{{ govukRadios({
				name: 'emergency',
				lasses: 'govuk-radios--inline',
				fieldset: {
					legend: {
						text: 'Is this an emergency?',
						classes: 'govuk-fieldset__legend--s'
					}
				},
				hint: {
					text: 'Is an export facing significant and imminent financial or other loss and does government need to take action urgently?'
				},
				items: emergency,
				errorMessage: errors | errorForName( 'emergency-1' )
			}) }}
		</div>

		<input type="submit" value="Continue" class="govuk-button">
	</form>
{% endblock %}
