{% from 'components/panel/macro.njk' import govukPanel %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Report - Submitted{% endblock %}

{% block page_content %}

	{{ govukPanel({
		titleText: 'Report submitted',
		text: 'This report has been submitted and you have created an instance of a market access barrier'
	}) }}

	<a href="{{ urls.index() }}" class="govuk-button button--secondary">View dashboard</a>

{% endblock %}
