{% from 'app-components/search-form.njk' import searchForm %}
{% from 'app-components/heading.njk' import heading %}
{% from 'app-components/selection-list.njk' import companiesList %}
{% from 'app-components/barrier-summary.njk' import barrierSummary %}
{% from 'app-components/barrier-tabs.njk' import barrierTabs %}
{% from 'app-components/barrier-team-list.njk' import barrierTeamList %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Barrier team - List of members{% endblock %}

{% block body_script %}
	{{ super() }}
	<script>
		ma.pages.barrier.team( {
			toggleLinks: {
				text: 'Update the barrier',
				linkClass: 'js-barrier-summary-link'
			}
		} );
	</script>
{% endblock %}

{% block masthead %}
	<div class="ma-masthead">
		{{ barrierSummary( barrier ) }}
	</div>
{% endblock %}

{% block page_content %}

	{{ barrierTabs( barrier.id, 'team' ) }}

	{{ barrierTeamList( members ) }}

	<a href="{{ urls.barriers.team.search( barrier.id ) }}" class="govuk-button button--secondary">Add team member</a>

{% endblock %}

