<!DOCTYPE html>
	<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
	<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>{{ 'Error: ' if errors.length }}{% block page_title %}Market Access{% endblock %}</title>

		<!-- build:css(src) /public/css/layout/govuk-template.min.css -->
		<!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="/public/css/layout/govuk-template.css"><!--<![endif]-->
		<!-- endbuild -->
		<!-- build:css(src) /public/css/layout/govuk-template.ie6.min.css -->
		<!--[if IE 6]><link rel="stylesheet" media="screen" href="/public/css/layout/govuk-template.ie6.css"><![endif]-->
		<!-- endbuild -->
		<!-- build:css(src) /public/css/layout/govuk-template.ie7.min.css -->
		<!--[if IE 7]><link rel="stylesheet" media="screen" href="/public/css/layout/govuk-template.ie7.css"><![endif]-->
		<!-- endbuild -->
		<!-- build:css(src) /public/css/layout/govuk-template.ie8.min.css -->
		<!--[if IE 8]><link rel="stylesheet" media="screen" href="/public/css/layout/govuk-template.ie8.css"><![endif]-->
		<!-- endbuild -->
		<!-- build:css(src) /public/css/layout/govuk-template.print.min.css -->
		<link rel="stylesheet" media="print" href="/public/css/layout/govuk-template.print.css">
		<!-- endbuild -->

		<!-- build:js(src) /public/js/layout/ie.min.js -->
		<!--[if lt IE 9]><script src="/public/js/layout/ie.js"></script><![endif]-->
		<!-- endbuild -->

		<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/public/img/favicon-192x192.png" type="image/png">
		<link rel="apple-touch-icon" href="/public/img/apple-touch-icon.png">
		<meta name="theme-color" content="#0b0c0c">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block head_content %}{% endblock %}
	</head>

	<body class="{% block body_classes %}{% endblock %}">
		<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

		<div id="skiplink-container">
			<div>
				<a href="#content" class="skiplink">Skip to main content</a>
			</div>
		</div>

		<header role="banner" id="global-header" class="with-proposition">
			<div id="global-cookie-message">
				<p>
					GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a>
				</p>
			</div>
			<div class="header-wrapper">
				<div class="header-global">
					<div class="header-logo">
						<a href="{{ headerLink | default( '' ) }}" title="Go to the Data Hub homepage" id="logo" class="content">
							Data Hub
						</a>
					</div>
				</div>
				<div class='header-proposition'>
					<div class='content'>
						<a href='/' id='proposition-name'>Market access barriers <strong class="govuk-tag govuk-tag--ma">BETA</strong></a>
						<a role='button' href='#proposition-links' class='js-header-toggle menu' aria-controls='navigation' aria-label='Show or hide Top Level Navigation'>Menu</a>
						{% if user %}
						<span class="user-info">{{ user.username }} <a href="logout">Logout</a></span>
						{% endif %}
						<nav id='proposition-menu'>
							<ul id='proposition-links' aria-label='Top Level Navigation'>
								<li><a href='{{ urls.index() }}'{% if headerNav.isDashboard %} class='active'{% endif %}>Dashboard</a></li>
								<li><a href='{{ urls.report.index() }}'{% if headerNav.isReport %} class='active'{% endif %}>Report a barrier</a></li>
								<li><a href='#'{% if headerNav.isFind %} class='active'{% endif %}>Find a barrier</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<div class="header-bar" role="complementary" aria-labelledby="header-title">
			<p class="govuk-width-container">
				<strong id="header-title">Help improve this service.</strong> Give us <a href="#">feedback on this page</a>.
			</p>
		</div>

		<div id="global-app-error" class="app-error hidden"></div>

		{% block body_content %}{% endblock %}

		<!-- build:js(src) /public/js/layout/govuk-template.min.js -->
		<script src="/public/js/layout/govuk-template.js"></script>
		<!-- endbuild -->
		<script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

		<!-- build:js(src) /public/js/vendor.min.js -->
		<script src="/public/js/vendor/jessie.js"></script>
		<!-- endbuild -->
		<!-- build:js(src) /public/js/app.min.js -->
		<script src="/public/js/ma.js"></script>
		<script src="/public/js/ma.CustomEvent.js"></script>
		<script src="/public/js/components/ConditionalRadioContent.js"></script>
		<script src="/public/js/pages/report/start.js"></script>
		<script src="/public/js/pages/report/next-steps.js"></script>
		<!-- endbuild -->
		{% block body_script %}{% endblock %}
	</body>
</html>
