<!DOCTYPE html>
	<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
	<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title></title>

		<!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="/public/css/layout/govuk-template.css"><!--<![endif]-->
		<!--[if IE 6]><link rel="stylesheet" media="screen" href="/public/css/layout/govuk-template.ie6.css"><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" media="screen" href="/public/css/layout/govuk-template.ie7.css"><![endif]-->
		<!--[if IE 8]><link rel="stylesheet" media="screen" href="/public/css/layout/govuk-template.ie8.css"><![endif]-->
		<link rel="stylesheet" media="print" href="/public/css/layout/govuk-template.print.css">
		<!--[if lt IE 9]><script src="/public/js/layout/ie.js"></script><![endif]-->

		<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="192x192" href="/public/img/apple-touch-icon-192x192.png">
		<link rel="apple-touch-icon" href="/public/img/apple-touch-icon.png">
		<meta name="theme-color" content="#0b0c0c">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block head_content %}{% endblock %}   
	</head>

	<body class="{% block body_classes %}{% endblock %}">
		<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

		<div id="skiplink-container">
			<div>
				<a href="#content" class="skiplink"></a>
			</div>
		</div>
		<div id="global-cookie-message">	
				<p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
		</div>

		<header role="banner" id="global-header" class="with-proposition">
			<div class="header-wrapper">
				<div class="header-global">
					<div class="header-logo">
						<a href="{{ headerLink | default( '' ) }}" title="Go to the Data Hub homepage" id="logo" class="content">
							Data Hub
						</a>
					</div>
				</div>
				<div class='header-proposition'>
					<div class='content'>
						<a href='/' id='proposition-name'>Market Access</a>
						<a role='button' href='#proposition-links' class='js-header-toggle menu' aria-controls='navigation' aria-label='Show or hide Top Level Navigation'>Menu</a>
						<span class="user-info">Name here <a href="logout">Logout</a></span>
						<nav id='proposition-menu'>
							<ul id='proposition-links' aria-label='Top Level Navigation'>
								<li><a href='#' class='active'>Dashboard</a></li>
								<li><a href='#'>Report a barrier</a></li>
								<li><a href='#'>Find a barrier</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>	

		<div id="global-header-bar"></div>

		<div id="global-app-error" class="app-error hidden"></div>

		{% block body_content %}{% endblock %}

		<script src="/public/js/layout/govuk-template.js"></script>

		<script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
	</body>
</html>
