{% from 'app-components/heading.njk' import heading %}
{% from 'components/select/macro.njk' import govukSelect %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Find a barrier{% endblock %}

{% block body_script %}
	<script>
		ma.pages.findABarrier();
	</script>
{% endblock %}

{% block page_content %}

	{{ heading({
		caption: 'Market access barriers',
		text: 'Find a barrier'
	}) }}

	<section class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<h2 class="filter-list-title">Filter barriers by:</h2>
			<form action="{{ urls.findABarrier() }}" method="GET" class="filter-items">

				{{ govukSelect({
					id: 'country',
					name: 'country',
					classes: 'js-filter',
					label: {
						text: 'Barrier location',
						classes: 'filter-items__label'
					},
					items: filters.country
				}) }}

				{{ govukSelect({
					id: 'sector',
					name: 'sector',
					classes: 'js-filter',
					label: {
						text: 'Sector',
						classes: 'filter-items__label'
					},
					items: filters.sector
				}) }}

				{% if hasFilters %}
				<a class="filter-items__clear js-filter-clear" href="{{ urls.findABarrier() }}">Clear filters</a>
				{% endif %}

				<input type="submit" value="Apply filters" class="govuk-button govuk-button--full-width js-filter-submit">
			</form>
		</div>
		<div class="govuk-grid-column-three-quarters">

			<h2 class="filter-results-title">{{ count }} <span class="filter-results-title__caption">barrier{{ 's' if count != 1 }}</span></h2>
			<ol class="filter-results-list">
				{% for barrier in barriers %}
					<li class='filter-results-list__item'>
						<div class="filter-results-list__item__main-content">
							<h3 class='filter-results-list__item__heading'><a href="{{ urls.barriers.detail( barrier.id ) }}">{{ barrier.title }}</a></h3>
							<dl class="filter-results-list__item__definitions">
								{% if barrier.sectors.length %}
								<dt class="filter-results-list__item__definitions__key">Sector{{ 's' if barrier.sectorsList.length != 1 }} affected:</dt>
								<dd class="filter-results-list__item__definitions__value">{{ barrier.sectorsList | join( ', ' ) }}</dd>
								{% endif %}
								<dt class="filter-results-list__item__definitions__key">Barrier location:</dt>
								<dd class="filter-results-list__item__definitions__value">{{ barrier.country.name }}</dd>
							</dl>
						</div>

						<ul class="filter-results-list__item__sub-content">
							<li class="filter-results-list__item__sub-content__item">
								<span class="barrier-status-badge barrier-status-badge--compact barrier-status-badge--{{ barrier.status.modifyer }}">
									Status: <strong>{{ barrier.status.name }}</strong>
								</span>
							</li>
							<li class="filter-results-list__item__sub-content__item">
								{% if barrier.isResolved %}
								<span class="muted">Resolved </span>{{ barrier.date.status | dateOnly( { day: false } ) }}
								{% elif barrier.isHibernated %}
								<span class="muted">Paused </span>{{ barrier.date.status | dateOnly( { day: false } ) }}
								{% else %}
								<span class="muted">Reported </span>{{ barrier.date.reported | dateOnly }}
								{% endif %}
							</li>
						</ul>
					</li>
				{% endfor %}
			</ol>
		</div>
	</section>

{% endblock %}
