{% from 'components/select/macro.njk' import govukSelect %}
{% from 'app-components/heading.njk' import heading %}
{% from 'app-components/checkbox-filter.njk' import checkboxFilter %}
{% from 'app-components/typeahead.njk' import typeahead %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Find a barrier{% endblock %}

{% block body_script %}
	<!-- build:js(src) /public/js/vue.min.js -->
	<script src="/public/js/vue/vue-bundle.js"></script>
	<!-- endbuild -->
{% endblock %}

{% block page_content %}

	{{ heading({
		caption: 'Market access barriers',
		text: 'Find a barrier'
	}) }}

	<section class="govuk-grid-row">
		<div class="govuk-grid-column-one-quarter">
			<h2 class="filter-list-title">Filter barriers by:</h2>
			<form action="{{ urls.findABarrier() }}" method="GET" class="filter-items">

				{# govukSelect({
					id: 'country',
					name: 'country',
					classes: 'govuk-!-width-full js-filter',
					formGroup: {
						classes: 'filter-items-group'
					},
					label: {
						text: 'Barrier location',
						classes: 'filter-items__label'
					},
					items: filters.country.items
				}) #}

				{{ typeahead({
					id: 'country',
					name: 'country',
					classes: 'govuk-!-width-full',
					formGroup: {
						classes: 'filter-items-group'
					},
					fieldset: {
						legend: {
							text: 'Barrier location',
							classes: 'filter-items__label'
						}
					},
					placeholder: 'Search locations',
					items: filters.country.items
				}) }}

				{{ typeahead({
					id: 'sector',
					name: 'sector',
					classes: 'govuk-!-width-full',
					formGroup: {
						classes: 'filter-items-group'
					},
					fieldset: {
						legend: {
							text: 'Sector',
							classes: 'filter-items__label'
						}
					},
					placeholder: 'Search sector',
					items: filters.sector.items
				}) }}

				{{ typeahead({
					id: 'type',
					name: 'type',
					classes: 'govuk-!-width-full ',
					formGroup: {
						classes: 'filter-items-group'
					},
					fieldset: {
						legend: {
							text: 'Barrier type',
							classes: 'filter-items__label'
						}
					},
					placeholder: 'Search type',
					items: filters.type.items
				}) }}

				{{ typeahead({
					id: 'region',
					name: 'region',
					classes: 'govuk-!-width-full js-filter',
					formGroup: {
						classes: 'filter-items-group'
					},
					fieldset: {
						legend: {
							text: 'Overseas region',
							classes: 'filter-items__label'
						}
					},
					placeholder: 'Search regions',
					items: filters.region.items
				}) }}

				{{ checkboxFilter({
					id: 'priority',
					name: 'priority',
					classes: 'govuk-!-width-full',
					formGroup: {
						classes: 'filter-group'
					},
					fieldset: {
						classes: 'filter-group__inner',
						legend: {
							text: "Barrier priority",
							classes: "filter-items__label filter-group__label"
						}
					},
					items: filters.priority.items
				})	}}

				{% if hasFilters %}
				<a class="filter-items__clear" href="{{ urls.findABarrier() }}">Remove all filters</a>
				{% endif %}

				<input type="submit" value="Apply filters" class="govuk-button govuk-button--full-width js-filter-submit">
			</form>
		</div>
		<div class="govuk-grid-column-three-quarters">

			{%- macro activeFilter( name, filter ) -%}
				{% if filter.active %}
				<li class="active-filters__item">
					<a href="{{ filter.removeUrl }}" class="active-filters__item__link" title="Remove {{ name }} filter">
						<h4 class="active-filter__heading">{{ name }}:</h4>
						<p class="active-filter__text">
							{{ filter.text }}
						</p>
					</a>
				</li>
				{% endif %}
			{%- endmacro -%}

			<div class="filter-results-header">
				<h2 class="filter-results-title">{{ count }}<span class="filter-results-title__caption"> barrier{{ 's' if count != 1 }}</span></h2>
				{% if hasFilters %}
					<a class="filter-results-clear-link" href="{{ urls.findABarrier() }}">Remove all filters</a>
				{% endif %}
				{% if count or hasFilters %}
					<div class="filter-results-action-buttons">
						{% if hasFilters and not editWatchList %}
							<a href="{{ urls.watchList.save(queryString) }}" class="govuk-button govuk-button--watch-list"> Save watch list</a>
						{% endif %}
					</div>
				{% endif %}
				{% if hasFilters %}
					<h3 class="visually-hidden">Active filters:</h3>
					<ul class="active-filters">
						{{ activeFilter( 'Barrier location', filters.country ) }}
						{{ activeFilter( 'Sector', filters.sector ) }}
						{{ activeFilter( 'Type', filters.type ) }}
						{{ activeFilter( 'Priority', filters.priority ) }}
						{{ activeFilter( 'Overseas region', filters.region ) }}
					</ul>
				{% endif %}
			</div>

			<ol class="filter-results-list">
				{% for barrier in barriers %}
					<li class='filter-results-list__item'>
						<div class="filter-results-list__item__main-content">
							<h3 class='filter-results-list__item__heading'><a href="{{ urls.barriers.detail( barrier.id ) }}">{{ barrier.title }}</a></h3>
							<dl class="filter-results-list__item__definitions">

								<dt class="filter-results-list__item__definitions__key visually-hidden">ID:</dt>
								<dd class="filter-results-list__item__definitions__value">{{ barrier.code }}</dd>

								<dt class="filter-results-list__item__definitions__key">Added:</dt>
								<dd class="filter-results-list__item__definitions__value">{{ barrier.date.reported | dateOnly }}</dd>

								{% if barrier.sectors.length %}
								<dt class="filter-results-list__item__definitions__key">Sector{{ 's' if barrier.sectorsList.length != 1 }} affected:</dt>
								<dd class="filter-results-list__item__definitions__value">{{ barrier.sectorsList | join( ', ' ) }}</dd>
								{% endif %}

								<dt class="filter-results-list__item__definitions__key">Barrier location:</dt>
								<dd class="filter-results-list__item__definitions__value">{{ barrier.location }}</dd>
							</dl>
						</div>

						<ul class="filter-results-list__item__sub-content">
							<li class="filter-results-list__item__sub-content__item">
								<span class="barrier-status-badge barrier-status-badge--compact barrier-status-badge--{{ barrier.status.modifyer }}">
									<strong>{{ barrier.status.name }}</strong>
								</span>
							</li>
							<li class="filter-results-list__item__sub-content__item">
								<span class="priority-marker-wrapper">
									<span class="priority-marker priority-marker--{{ barrier.priority.code.toLowerCase() }}"></span><strong>{{ barrier.priority.name }}</strong> priority
								</span>
							</li>
						</ul>
					</li>
				{% endfor %}
			</ol>
		</div>
	</section>

{% endblock %}
