{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Homepage{% endblock %}

{% block page_content %}

		<h1 class="govuk-heading-l">
			<span class="govuk-caption-m">Market access barriers</span> Dashboard
		</h1>

		{% if error %}

			{{ error }}

		{% else %}

			Welcome {{ data.username }}

		{% endif %}
{% endblock %}
