{% extends 'layout.njk' %}

{% block page_title %}Market Access :: Homepage{% endblock %}

{% block page_content %}
		<h1>Market Access Homepage</h1>

		{% if error %}

			{{ error }}

		{% else %}

			Welcome {{ data.username }}

		{% endif %}
{% endblock %}
