{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Homepage{% endblock %}

{% block page_content %}

		<h1 class="govuk-heading-l">
			<span class="govuk-caption-m">Market access barriers</span> Dashboard
		</h1>

		{% if error %}

			{{ error }}

		{% endif %}

		<a href="{{ urls.report.index() }}" role="button" class="dash-button">
			<span class="dash-button__heading">Report a barrier</span>
			<span class="dash-button__text">
				Report a market access barrier that is emerging, ongoing or has been resolved.
			</span>
		</a>

		<div class="inline-tabs">

			<div class="inline-tabs__content" id="inline-tab-1">

				<table class="standard-table">
					<thead>
						<tr class="standard-table__heading-row">
							<th class="standard-table__heading">Company affected</th>
							<th class="standard-table__heading">Problem status</th>
							<th class="standard-table__heading">Report started by</th>
							<th class="standard-table__heading standard-table__heading--active">Report started</th>
							<th class="standard-table__heading">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for barrier in barriers %}
						<tr class="standard-table__row">
							<td class="standard-table__cell">
								{{ barrier.company_name or ( '<span class="unknown">unknown</span>' | safe ) }}
							</td>
							<td class="standard-table__cell">
								{{ barrier.problem_status or ( '<span class="unknown">unknown</span>' | safe ) }}
							</td>
							<td class="standard-table__cell">
								{{ barrier.report_started_by or ( '<span class="unknown">unknown</span>' | safe ) }}
							</td>
							<td class="standard-table__cell">
								{{ barrier.report_start_date or ( '<span class="unknown">unknown</span>' | safe ) }}
							</td>
							<td class="standard-table__cell">
								<a href="{{ urls.report.contacts( barrier.company_id ) }}">Continue</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
{% endblock %}
