{% from 'components/footer/macro.njk' import govukFooter %}

{% extends 'base.njk' %}

{% block head_content %}
	<!-- build:css(src) /public/css/main.min.css -->
	<link href="/public/css/main.css" media="screen" rel="stylesheet">
	<!-- endbuild -->
	{% block head %}{% endblock -%}
	{% block head_styles %}{% endblock -%}
	{% block head_script %}{% endblock -%}
{% endblock %}

{% block body_content %}
	<main class="page-content" id="content">
		{% block page_content %}{% endblock %}
	</main>

	<div class="footer-bar" role="complementary" aria-labelledby="footer-title">
		<p class="footer-bar__content govuk-width-container">
			<strong id="footer-title">Is there anything wrong with this page?</strong>
			Complete a quick feedback form to <a href="#">help us improve this service</a>.
		</p>
	</div>

	{{- govukFooter({
		'navigation': [
			{
				'title': 'Data Hub',
				'items': [
					{
						'href': '#',
						'text': 'View Data Hub'
					}
				]
			},
			{
				'title': 'Market access barriers',
				'items': [
					{
						'href': urls.index(),
						'text': 'Dashboard'
					},{
						'href': urls.reports.new(),
						'text': 'Report a barrier'
					},{
						'href': '#',
						'text': 'Find a barrier'
					},{
						'href': '#',
						'text': 'What is a barrier?'
					}
				]
			}
		]
	}) }}

{% endblock %}
