<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>{% block page_title %}Department for International Trade{% endblock %}</title>
		<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/public/img/favicon-192x192.png" type="image/png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- build:css(src) /public/css/main.min.css -->
		<link href="/public/css/main.css" media="screen" rel="stylesheet">
		<!-- endbuild -->
		{% block head %}{% endblock -%}
		{% block head_styles %}{% endblock -%}
		{% block head_script %}{% endblock -%}
	</head>

	<body class="{% block body_classes %}{% endblock %}">
		{% block page_content %}{% endblock %}
	</body>
</html>
