{% extends 'template.njk' %}

{% block main %}
	{% block outsideContent %}{% endblock %}
	{% block masthead %}{% endblock %}
	<div class="govuk-width-container ma-container-full">
		{% block beforeContent %}{% endblock %}
		<main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main">
			{% block content %}{% endblock %}
		</main>
	</div>
{% endblock %}

