{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - What is a barrier{% endblock %}

{% block page_content %}

	{{ heading({
		caption: 'Market access barriers',
		text: 'About market access barriers'
	}) }}

	<div class="restrict-width">

		<p>
			Read about different types of barriers and why it's important to report them.

			<ol class="paragraph-list">
				<li class="paragraph-list__item"><a href="#what">What are market access barriers</a></li>
				<li class="paragraph-list__item"><a href="#goods-barriers">Categories of goods barriers</a></li>
				<li class="paragraph-list__item"><a href="#service-barriers">Categories of service barriers</a></li>
				<li class="paragraph-list__item"><a href="#help-work">How reporting barriers helps your work</a></li>
				<li class="paragraph-list__item"><a href="#help-business">How reporting barriers helps UK business</a></li>
			</ol>
		</p>


		<h2 class="barrier-type-section-heading" id="what">
			What are market access barriers
		</h2>
		<p>
			Market access barriers are problems that delay or obstruct UK businesses trading and investing overseas.
			Barriers can take the form of tariffs or non-tariff barriers, such as having to train and use local workers. They can affect goods, services or investments.
			There are 2 types of market access barriers – short term and long term.
		</p>

		<div class="barrier-type-card">
			<h3 class="barrier-type-card__heading">
				Short-term barriers
			</h3>

			<p class='barrier-type-card__text'>
				Also called procedural barriers, these short-term problems are often relatively easy to resolve. For example, goods stuck in customs because of incorrect documents.
			</p>
			<p class='barrier-type-card__text'>
				Even though these barriers are short term, they could point to a bigger underlying problem, which is why it’s still important to log them in this system.
			</p>
		</div>

		<div class="barrier-type-card">
			<h3 class="barrier-type-card__heading">
				Long-term barriers
			</h3>

			<p class='barrier-type-card__text'>
				Also called strategic barriers, these problems usually cannot be fixed without a change of regulation or broader change to the business environment. For example, a ban on British products due to food safety regulations.
			</p>
			<p class='barrier-type-card__text'>
				Resolving these types of barriers might mean engagement with local, national or UK government. If a barrier breaks World Trade Organisation (WTO) rules or other agreements, resolution can be sought through the appropriate channels available under each agreement.
			</p>
			{#<p class='barrier-type-card__text'>
				<a href="#">See more examples of different types of barriers</a>.
			</p>#}
		</div>

		{% macro barrierList( items ) %}
			<div class="barrier-type-group">
			{% for item in items %}
				<h4>
					{{ item.title }}
				</h4>
				{{ item.description | safe }}
			{% endfor %}
			</div>
		{% endmacro %}

		<h2 class="barrier-type-section-heading" id="goods-barriers">
			Categories of goods barriers
		</h2>

		{{ barrierList( barrierTypes.goods ) }}


		<h2 class="barrier-type-section-heading" id="service-barriers">
			Categories of service barriers
		</h2>

		{{ barrierList( barrierTypes.services ) }}


		<h2 class="barrier-type-section-heading" id="help-work">
			How reporting barriers helps your work
		</h2>

		<p>When you enter details of market access barriers in your region, you’re helping to create a worldwide knowledge base.</p>
		<p>The information you enter can only be seen by government colleagues. You should give as much detail as commercial sensitivities allow, and add your email address so colleagues can ask questions if needed.</p>
		<p>By collaborating with DIT and wider government colleagues, you’re contributing to a joined-up global picture of problems, and what’s being done to help resolve them.</p>
		<p>You can view barriers created by other scolleagues across government. You can see all barriers in all regions, or filter for the regions or barrier types you’re interested in.</p>
		<p>You can also create watch lists so you’re automatically shown all the barrier types you’re interested in. This lets you see how other regions are tackling similar problems.</p>
		<p>The Market Access Team in London can also help you prioritise the barriers you work on, and help you with your action plans.</p>


		<h2 class="barrier-type-section-heading" id="help-business">
			How reporting barriers helps UK business
		</h2>

		<p>
			Market access barriers are a significant impediment to global trade and investment and this work has the potential to value of billions of pounds to the UK economy. Removing market access barriers can enable greater exports and investment overseas as new opportunities are realised – this is a very important link as trade policy is not an end in itself. Opening markets should provide dividends in the form of increased exports for UK businesses – otherwise we are targeting the wrong barriers.
		</p>

		<a class="barrier-type-section-link" href="{{ urls.index() }}">View your dashboard</a>
	</div>

{% endblock %}
