{% from 'components/textarea/macro.njk' import govukTextarea %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Barrier - Edit summary{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.barriers.detail( barrier.id ) },
		caption: barrier.barrier_title,
		text: 'About the barrier',
		errors: errors
	}) }}

	<form action="{{ urls.barriers.edit.description( barrier.id ) }}" method="POST" class="restrict-width">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{{ govukTextarea( {

			label: {
				text: 'Provide a summary of the problem and how you became aware of it',
				classes: 'govuk-label--s'
			},
			id: 'description',
			name: 'description',
			value: description,
			errorMessage: errors | errorForName( 'description' )
		} ) }}

		<input type="submit" value="Save and exit to barrier" class="govuk-button">
	</form>
{% endblock %}
