{% from 'components/textarea/macro.njk' import govukTextarea %}
{% from 'components/date-input/macro.njk' import govukDateInput %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Barrier - Edit status{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.barriers.detail( barrier.id ) },
		caption: barrier.barrier_title,
		text: 'Barrier status',
		errors: errors
	}) }}

	<form action="{{ urls.barriers.edit.status( barrier.id ) }}" method="POST" class="restrict-width">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{% if isResolved %}
			{{ govukDateInput( {

				id: 'status-date-group',
				fieldset: {
					legend: {
						text: 'Date the barrier was resolved',
						classes: 'govuk-fieldset__legend--s'
					}
				},
				errorMessage: errors | errorForName( 'status-date' ),
				items: [
					{
						id: 'status-date',
						name: 'month',
						value: statusDate.month,
						classes: 'govuk-input--width-2'
					},
					{
						name: 'year',
						value: statusDate.year,
						classes: 'govuk-input--width-4'
					}
				]
			} ) }}
		{% endif %}

		{{ govukTextarea( {

			label: {
				text: 'Provide a summary of how this barrier was resolved' if isResolved else 'Provide a summary of why this barrier is dormant',
				classes: 'govuk-label--s'
			},
			id: 'status-summary',
			name: 'statusSummary',
			value: statusSummary,
			errorMessage: errors | errorForName( 'status-summary' )
		} ) }}

		<input type="submit" value="Save and exit to barrier" class="govuk-button">
        <a href="{{ urls.barriers.detail( barrier.id ) }}" class="govuk-button button--secondary">Cancel</a>
	</form>
{% endblock %}
