{% from 'components/input/macro.njk' import govukInput %}
{% from 'app-components/heading.njk' import heading %}

{% extends 'layout.njk' %}

{% block page_title %}{{ super() }} - Barrier - Edit title{% endblock %}

{% block body_script %}
	<script>
		ma.pages.barrier.edit.title();
	</script>
{% endblock %}

{% block page_content %}

	{{ heading({
		back: { href: urls.barriers.detail( barrier.id ) },
		caption: barrier.barrier_title,
		text: 'Edit title',
		errors: errors
	}) }}

	<form action="{{ urls.barriers.edit.title( barrier.id ) }}" method="POST" class="restrict-width">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">

		{{ govukInput( {

			label: {
				text: 'Suggest a title for this barrier',
				classes: 'govuk-label--s'
			},
			hint: {
				text: 'Include both the product or service name and the country being exported to, for example, Import quotas for steel rods in India.'
			},
			id: 'title',
			name: 'title',
			value: title,
			errorMessage: errors | errorForName( 'title' )
		} ) }}

		<input type="submit" value="Save and exit to barrier" class="govuk-button">
		<a href="{{ urls.barriers.detail( barrier.id ) }}" class="govuk-button button--secondary">Cancel</a>
	</form>
{% endblock %}
